
.icon-quote-left:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e800'; } /* '' */
.icon-up-open-mini:before { content: '\e803'; } /* '' */
.icon-down-open-big:before { content: '\e804'; } /* '' */
.icon-user-male:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-twitter-bird:before { content: '\e807'; } /* '' */
.icon-briefcase:before { content: '\e808'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-globe:before { content: '\e80a'; } /* '' */
.icon-shuffle:before { content: '\e80b'; } /* '' */
.icon-gplus:before { content: '\e80c'; } /* '' */
.icon-youtube:before { content: '\e80d'; } /* '' */
.icon-github-text:before { content: '\e80e'; } /* '' */
.icon-cogs:before { content: '\e80f'; } /* '' */
.icon-child:before { content: '\e809'; } /* '' */