
.icon-quote-left:before { content: '\e800'; } /* '' */
.icon-wikipedia:before { content: '\e820'; } /* '' */
.icon-up-open-mini:before { content: '\e802'; } /* '' */
.icon-down-open-big:before { content: '\e803'; } /* '' */
.icon-user-male:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */
.icon-twitter-bird:before { content: '\e806'; } /* '' */
.icon-briefcase:before { content: '\e807'; } /* '' */
.icon-linkedin:before { content: '\e808'; } /* '' */
.icon-globe:before { content: '\e809'; } /* '' */
.icon-shuffle:before { content: '\e80a'; } /* '' */
.icon-gplus:before { content: '\e80b'; } /* '' */
.icon-youtube:before { content: '\e80c'; } /* '' */
.icon-github-text:before { content: '\e80d'; } /* '' */
.icon-cogs:before { content: '\e80e'; } /* '' */
.icon-child:before { content: '\e80f'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-1:before { content: '\e811'; } /* '' */
.icon-up-open-mini-1:before { content: '\e812'; } /* '' */
.icon-down-open-big-1:before { content: '\e813'; } /* '' */
.icon-user-male-1:before { content: '\e814'; } /* '' */
.icon-facebook-1:before { content: '\e815'; } /* '' */
.icon-twitter-bird-1:before { content: '\e816'; } /* '' */
.icon-briefcase-1:before { content: '\e817'; } /* '' */
.icon-linkedin-1:before { content: '\e818'; } /* '' */
.icon-globe-1:before { content: '\e819'; } /* '' */
.icon-shuffle-1:before { content: '\e81a'; } /* '' */
.icon-gplus-1:before { content: '\e81b'; } /* '' */
.icon-youtube-1:before { content: '\e81c'; } /* '' */
.icon-github-text-1:before { content: '\e81d'; } /* '' */
.icon-cogs-1:before { content: '\e81e'; } /* '' */
.icon-child-1:before { content: '\e81f'; } /* '' */
.icon-quote-left-1:before { content: '\e810'; } /* '' */