/*-------------------------------------------------------------------------*/
@media only screen and (min-width:1400px) {
	#teaser {
		background-image: url('../images/ethereumsplash-bg-web01ws-min.jpg');
	
	}
}
@media only screen and (min-width:960px) and (max-width:1399px) {
	#teaser {
		background-image: url('../images/ethereumsplash-bg-web01-min.jpg');        
	}
}
@media only screen and (min-width:480px) and (max-width:959px) {
	#teaser {
			background-image: url('../images/ethereumsplash-bg-web01-med-min.jpg');
	}
}
@media only screen and (max-width:479px) {
	#teaser {
		background-image: url('../images/ethereumsplash-bg-web02-mobi-min.jpg');
		padding-bottom: 2em;
	}
}

/* Media queries */
@media only screen and (min-width: 960px) {
	.elements {
		padding-top: 6.5%;
	}
	#subtitle {
		margin: 20px 0 40px;
	}
}
/*iPad lanscape*/
@media screen and (max-device-width: 960px){
	
	/*Generale rules for the header, the navigation, the slider, the fixed header image, breadcrump and the teaser abd the anota section*/
	.teaserTitle{left:50%;}
	.columns_Three {margin-left: 15px;width: 250px;}
	.arrowAnota, .arrowFooter, .arrowCrump{left:515px;top:-2px;}
	.arrowMain{left:500px;top:-2px;}
	.arrowinnerTitle{top:36px;}
	#anota{margin-top:-60px;}
	#homeSlider .flex-direction-nav a{top:50% !important;}
	#innerAnota p{font-family: 'robotolight' !important;}
	#mapHolder{height:416px;}
	#footer:after, #anota:after, #breadCrump:after{left:36%;}
	input, textarea, input[type="submit"]{-webkit-appearance: none;-webkit-border-radius:0;}
	.flex-direction-nav .flex-prev{left:-15px !important;}
	.flex-direction-nav .flex-next{right:-15px !important;}
	#postSlider .flex-direction-nav .flex-prev, #latest .flex-direction-nav .flex-prev, #slideCase .flex-direction-nav .flex-prev, .singleProject .flex-direction-nav .flex-prev, .slider .flex-direction-nav .flex-prev{left:0 !important;}
	#postSlider .flex-direction-nav .flex-next, #latest .flex-direction-nav .flex-next, #slideCase .flex-direction-nav .flex-next, .singleProject .flex-direction-nav .flex-next, .slider .flex-direction-nav .flex-next{right:0 !important;}
	#latest .flex-direction-nav a{height:25px;}
	#innerAnota h1, #breadCrump h1{font-size:20px;}
	#anota, #breadCrump {padding-bottom: 20px;padding-top: 30px;}
	#request p{font-size:25px;}
	.footerTweets .tweet_list{height:240px;}
}


@media only screen and (min-width: 959px) {
	#mainNav #navi {
		display: table;
		width: 100%;
	}
}
@media only screen and (min-width: 768px) {
	#who #namegrid .nametag.toprow {
		margin-top: 0;
	}
	#who #namegrid .nametag.toprow h2 {
		border-top: 0 none transparent;
		padding-top: 10px;
	}
}
/* Tablet Portrait size -> standard 960 */
@media only screen and (min-width: 768px) and (max-width: 959px) {

	/*Generale rules for the header, the navigation, the slider, the fixed header image, breadcrump and the teaser abd the anota section*/
	.holder960,#feed{width:700px;}
	.teaserTitle{left:50%;top:35%;margin-left:-220px;}
	.teaserTitle h1{font-size:35px;}
	#navigation, #navigation.default{right:-25px;}
	#socials{display:none;}
	.arrowAnota, .arrowFooter, .arrowCrump{left:385px;top:-2px;}
	.arrowMain{left:50%;top:-2px;}
	.titleInner:after, #otherServices .titleInner:after, #ourProcess .titleInner:after, #ourClient .titleInner:after, .nameProfile:after{left:288px;}
	.fourth_Columns{width:165px;}
	.teamSocial{left:25px;}
	.profile:after{left:6px;}
	.arrowProfile{left:46%;top:50px;}
	#homeSlider ul.slides li{margin-top:11px;}
	#homeSlider .flex-direction-nav a{top:58% !important;}
	.flex-caption-left h1, .flex-caption-right h1{font-size:26px; padding:10px}
	.flex-caption-left h3, .flex-caption-right h3{font-size:12px;}
	.flex-caption-right, .flex-caption-left{margin-top:-45px;}
	.flex-caption-right{margin-right:-190px;}
	.flex-caption-left{margin-left:-190px;}
	#teaser img{margin-top:70px;}
	#teaser.detached img{margin-top:0px;}
	#anota.withSlider{margin-top:-7px !important;}

	/*About, pricing table, services*/
	.two_Columns{width:311px;}
	.skillsHolder{width:350px;}
	.columns_Three{width:160px;margin-left: 10px;}
	.columns_Three h2:before{top:40%;}
	#request p{font-size:18px;}
	#request a{margin-top:0;}
	.processDesc{width:512px;}
	#slideCase{width:475px;}
	#slideDesc{width:180px;}
	
	#pricingContainer{margin-left:10px;}
	.pricingtbl ul{width:214px;margin-right:14px}
	#pricingContainer .pricing-big li:first-child:after{left:64px;top:100px;}
	
	
	
	/*Process*/
	.process {margin-left: -3px;margin-right: 0;width: 135px;}
	.innerProcess { height: 80px; width: 80px; line-height: 72px; }
	.innerProcess i { left: 0;  }
	
	/*Testimonials*/
	#testimonial .testimoniaContainer div{width:700px;}
	#testimonial .testimoniaContainer div {
		max-width: 100%;
	}
	#testimonial:after {left: 196px;top: 30px;}
	#testimonial .testimoniaContainer{height:280px;}
	.icon-quote-right-1:before{ left:44% !important; }
	.testimoniaContainer h3{margin-top:40px;}
	
	
	/*Under construction page*/
	.countdown_amount {font-size:110px;}
	.countdown_show3 .countdown_section {padding-right:40px;}
	.elements { padding-top: 9%; }
	#subtitle { margin: 0 0 50px; padding: 20px 0 0; }	
	
	
	/*Portfolio*/
	#works .item{width:205px;height:164px;}
	.link, ul li.item a{width:205px;height:164px;}
	#works .item.four .link{width:156px;height:124px;}
	.link .hgroup h3{font-size:17px;}
	.item.four .link .hgroup h3{font-size:13px;}
	.item.four .link .hgroup{left:9px;}
	.link i { font-size: 20px;left: -44px;line-height: 180px;}
 	#works .item.four {height: 124px;width: 155px;}
	.item.four .link i {font-size: 19px;line-height: 170px;}
	.desc{width:460px;}
	.info{width:200px;}
	
	
	
	/*Shortcodes*/
	.accordion, .tabs, .lightbox, .slider, .message, .button, .skills, .tiptool, .cap, .quote, .youtubeVideo, .vimeoVideo, .table{width:310px;}
	.alertBoxe{font-size:13px;}

	.medium a{padding:15px 15px;}
	.large a {font-size: 15px;padding: 20px 20px;}
	.quote .bq1:after{top:133px;}
	.lightbox .link, ul li.item a{width:100%; height:98%;}
	.lightbox .link i{font-size:30px;}
	
	
	/*Blog*/
	.container.blogPosts{width:430px;}
	.container.widgetAside{width:230px;}
	.postContent blockquote:after{top:90px;}
	.widget .titleInner:after{left:55px !important;}
	.postTitle:after, .postTitle:after, .commentscountTitle:after, .respondTitle:after{left:146px;}
	.related li{width:127px;margin-right:-1px;margin-left:1px;}
	span.relTitle{font-size:14px;}
	.related li span.date{font-size:10px;}
	.tagsList li a{padding:6px;}
	#postSlider .flex-direction-nav .flex-prev, #latest .flex-direction-nav .flex-prev, #slideCase .flex-direction-nav .flex-prev, .slider .flex-direction-nav .flex-prev{left:0 !important;}
	#postSlider .flex-direction-nav .flex-next, #latest .flex-direction-nav .flex-next, #slideCase .flex-direction-nav .flex-next, .slider .flex-direction-nav .flex-next{right:0 !important;}
	#latest .flex-direction-nav a{height:25px;}
	.postMeta{left:6px;}
	.postMeta li{padding:3px 2px;}
	.respondForm input[type="text"], .respondForm input[type="email"]{width:300px;}
	.respondForm textarea{width:375px;}
	
	
	
	/*Contact and footer*/
	.contactForm ,#map{width:330px;max-width:47.5%;}
	.contactForm input[type="text"], .contactForm input[type="email"], .contact input[type="number"], .contactForm textarea{width:300px;}
	.contactForm input#submit{width:313px;}
	input, textarea, input[type="submit"]{-webkit-appearance: none;-webkit-border-radius:0;}
	#footer:after, #anota:after, #breadCrump:after{left:31%;}
	.tweet_list{height:66px;}
	
	
	/*Updated footer*/
	.footerWidget{width:155px;}
	.flickr li{width:46px;}
	.footerTweets .tweet_list{height:320px;}
	.socialFact a{float:none;}
	.socialFact a:first-child{margin-bottom:10px;margin-right:0;}

	
}


/* Mobile Landscape Size -> Tablet Portrait size*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.mc-field-group{width:380px; padding:20px;}
	.codesite a{width:354px;}
	#logo-img { height: 70px; }
	/*Generale rules for the header, the navigation, the slider, the fixed header image, breadcrump and the teaser abd the anota section*/
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
	.holder960,#feed{width:470px;}
	#logo{float:none;text-align:center;margin-bottom:10px;display: none;}
	#socials{display:none;}
	#navigation, #navigation.default {right:120px;top:90%;}
	#navi{display:none;}
	#naviRegular{display:none;}
	select#mobileNav, #mainNavRegular select{display:inline;}
	.teaserTitle{left:50%;top:40%;margin-left:-191px;}
	.teaserTitle h1{font-size:30px;}
	#teaser.detached img{margin-top:0px;}
	#intro p, .skillIntro {text-align:center;}
	#homeSlider ul.slides li{margin-top:54px;}
	#homeSlider .flex-direction-nav a{top:63% !important;}
	.flex-caption-left h1, .flex-caption-right h1{font-size:20px; padding:8px;}
	.flex-caption-left h3, .flex-caption-right h3{font-size:12px;padding:6px}
	.flex-caption-right, .flex-caption-left{margin-top:-45px;}
	.flex-caption-right{margin-right:-150px;}
	.flex-caption-left{margin-left:-150px;}
	#anota{margin-top:-9px !important;}
	.arrowMain{left:50%;}
	#breadCrump {padding-top:30px;}
	.slider.flex-direction-nav .flex-prev {left:0 !important;}
	.slider .flex-direction-nav .flex-next{right:0 !important;}
	.arrowAnota, .arrowFooter, .arrowCrump{left:285px;top:-2px;}
	#innerAnota h1,  #breadCrump h1 {line-height:40px;}
	#innerAnota p{font-family: 'robotolight' !important;}
	.titleInner:after, #otherServices .titleInner:after, #processSingle .titleInner:after, #showCase .titleInner:after, #ourProcess .titleInner:after,#ourClient .titleInner:after, #otherServices .titleInner:after, #ourProcess .titleInner:after, .elementSec .titleInner:after, #showCase .titleInner:after, #relatedItem .titleInner:after, #processSingle .titleInner:after, #ourClient .titleInner:after, .nameProfile:after{left:170px;}
	
	/*About, pricing table, services*/
	
	#clientHolder .slides li{width:400px !important;margin-right:0;}
	.fourth_Columns{width:388px;float:none; margin-right:0;margin-bottom:20px;}
	.fourth_Columns:last-child{margin-bottom:0;}
	.teamSocial{left:130px;}
	.profile:after{left:116px;}
	.arrowProfile{left:49%;top:50px;}
	.skillsHolder{margin-top:30px;}
	#services{padding-bottom:15px;}
	#servicesContent .columns_Three:last-child{margin-bottom:0;}
	#pricingContainer{margin-left:10px;margin-top:100px}
	.pricingtbl ul{width:380px;float:none; margin-right:0;margin-bottom:50px;}
	.pricingtbl ul:last-child{margin-bottom:0;}
	.pricingtbl ul:nth-child(2n){margin-bottom:5px;}
	#pricingContainer .pricing-big li:first-child:after{left:144px;top:100px;}
	
	
	/*Process*/
	.process {margin-left: 56px !important;margin-right: 0;width: 293px;float:none;margin-bottom:30px;}
	.process:last-child{margin-bottom:0;}
	.process a {padding: 5px 80px;}
	

	.two_Columns, .columns_Three {width:390px;float:none;margin-right:auto;margin-left:auto;}
	.columns_Three{margin-bottom:30px;}
	.columns_Three:last-child{margin-bottom:0;}
	.columns_Three h2:before{top:52%;}
	
	
	/*Testimonials*/
	#testimonial .testimoniaContainer div {width:470px;}
	#testimonial .testimoniaContainer{height:285px;}
	.icon-quote-right-1:before{ left:40% !important; }
	.nameProfile:after{left:170px;}
	
	/*Under construction page*/
	.notForm input[type="email"]{width:380px;}
	.counting{padding-bottom:0;}
	.countdown_amount {font-size: 70px;}
	.countdown_show3 {margin-left:5px;margin-right:5px;}
	.countdown_show3 .countdown_section {
		padding-right:20px;
		margin-top:0;
		line-height: .5;
		font-size: 23px;
	}
	.error h1 {font-size: 32px;margin-bottom: 23px;}
	.elements { padding-top: 11%; }
	.subscribe { margin: 20px 0; }
	#mc_embed_signup input[type="email"] {  width: 222px; margin-bottom: 20px;}	
	#subtitle { margin: 0 0 40px; padding: 20px 0 0; }

	/*Portfolio*/
	#catContainer{text-align:left;}
	ul#category li a{margin-right:-6px;}
	#works .item{float:none;margin-right:40px;}
	#works {margin-left:53px;}
	#works .item.four, .item.four .link{width:293px;height:234px;}
	.desc{width:400px;float:none;margin-bottom:50px;}
	.info.column{float:none; margin:0 !important;}
	.item.four .link i{line-height:252px;}
	
	
	
	/*Shortcode*/
	.innerprocessSingle,.processDesc{float:none;text-align:center;}
	.processDesc{width:400px;}
	.singleP{margin-left:110px;}
	#slideCase{float:none; width:400px;}
	#slideDesc.column,.table.column{float:none; margin:0 !important;}
	.column{margin:0 !important;}
	#slideDesc ul{ margin-bottom:40px;}
	.accordion, .tabs, .lightbox, .slider, .message, .button, .skills, .tiptool, .cap, .quote, .youtubeVideo, .vimeoVideo, .table{width:400px;}
	.accordion, .lightbox, .message, .skills, .cap,.youtubeVideo{margin-bottom:40px !important;}
	.quote .bq1:after{top:107px;}
	.lightbox .link{width:100%; height:98%;}
	.slider .flex-direction-nav .flex-prev {left:0 !important;}
	.slider .flex-direction-nav .flex-next{right:0 !important;}
	
	
	
	
	/*Blog*/
	.container.blogPosts, .container.widgetAside{float:none;display:block;margin-right:0;margin-left:2px;}
	.container.blogPosts{margin-bottom:60px;}
	.container.blogPosts{width:390px;}
	.container.widgetAside{width:390px;}
	.tagsList li a{padding:6px;}
	.postMeta{left:34px;}
	.postTitle:after, .commentscountTitle:after, .respondTitle:after{left:123px;}
	.postMeta li, .postMeta a{margin-bottom:1px;}
	.postMeta li{padding:3px 10px;}
	.widget .titleInner:after{left:134px;}
	.widgetTweets .tweet_list{height:140px;}
	.postContent blockquote:after{top:112px;width:250px;}
	.related li{width:160px;margin-bottom:20px;}
	.related li:last-child{margin-bottom:0;}
	.respondForm input[type="text"], .respondForm input[type="email"]{width:280px;}
	.respondForm textarea{width:330px;}
	
	
	/*Contact and footer*/
	.contactForm ,#map{width:390px;float:none;margin-right:auto;margin-left:auto;}
	#map{margin-top:50px;}
	.contactForm input[type="text"], .contactForm input[type="email"], .contact input[type="number"]{width:380px;}
	.contactForm textarea{width:383px;}
	.contactForm input#submit{width:396px;}
	input, textarea, input[type="submit"]{-webkit-appearance: none;-webkit-border-radius:0;}
	.contactInfo{width:390px;font-size:13px;}
	#footer:after, #anota:after, #breadCrump:after{left:24%;}
	.tweet_list{height:140px;}
	
	
	
	/*Updated footer*/
	.footerWidget{width:400px;float:none; margin-right:0;margin-bottom:40px;}
	.footerWidget:last-child{margin-bottom:0px;}
	.footerTweets .tweet_list{height:140px;}
	.footerBottom p{float:none; text-align:center;}
	.footerBottom ul#socialsFooter{text-align:center;margin-top:12px;float:none;}
	#teaser.videoHeader{margin-top:110px;}
}
/* Mobile Portrait Size -> Mobile Landscape Size */
@media only screen and (max-width:479px) {
	.mc-field-group{width:180px; padding:20px;}
	.codesite a{width:155px;}
	/*Generale rules for the header, the navigation, the slider, the fixed header image, breadcrump and the teaser abd the anota section*/
	html{-webkit-text-size-adjust: none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;}
	header {margin-bottom: 49px;}
	#navigation, #navigation.default {right: 34px;top:97%;}
	#navi{display:none;}
	#naviRegular{display:none;}
	#logo{float:none;text-align:center;margin-bottom:10px;display: none;}
	#socials{display:none;}
	select#mobileNav, #mainNavRegular select{display:inline;}
	#teaser.detached img{margin-top:0;}
	.teaserTitle{left:50%;top:55%;margin-left:-135px;}
	.teaserTitle h1{font-size:22px;line-height:42px;margin-bottom:15px;}
	#anota{margin-top:-6px !important;}
	#breadCrump{padding-top:15px;padding-bottom:15px;}
	#breadCrump p{font-size:10px;}
	#innerAnota p{font-family: 'robotolight' !important;}
	.titleInner:after, #otherServices .titleInner:after, #ourProcess .titleInner:after, #ourClient .titleInner:after{left:75px;}
	.nameProfile:after{left:70px;}
	#intro p, .skillIntro {text-align:center;}
	#logo-img { height: 62px; }
	.title h1{font-size:62px;}
	.titleInner h1{font-size:32px;line-height:1.2}
	#homeSlider ul.slides li{margin-top:63px;}
	#homeSlider ul.slides li img{max-height:100%;}
	#homeSlider .flex-direction-nav a{top:67% !important;}
	.flex-caption-left h1, .flex-caption-right h1{font-size:14px; padding:6px;}
	.flex-caption-left h3, .flex-caption-right h3{font-size:9px;padding:4px}
	.flex-caption-right, .flex-caption-left{margin-top:-45px;}
	.flex-caption-right{margin-right:-115px;}
	.flex-caption-left{margin-left:-115px;}
	#anota{margin-top:-7px;}
	.counter, .counting { padding-top: 0 }
	
	
	/*About, pricing table, services*/
	
	
	#clientHolder .slides li{width:230px !important;margin-right:0;}
	.fourth_Columns{width:220px;float:none; margin-right:0;margin-bottom:20px;}
	.fourth_Columns:last-child{margin-bottom:0;}
	.teamSocial{left:53px;}
	.profile:after{left:36px;}
	.arrowProfile{left:49%;top:50px;}
	.skillIntro h1{line-height:40px;}
	.skillsHolder{margin-top:30px;}
	
	
	/*Process*/
	.innerprocessSingle,.processDesc{float:none;text-align:center;}
	.processDesc{width:220px;}
	.process {margin-left: 5px !important;margin-right: 0;width: 220px;float:none;margin-bottom:30px;}
	.process:last-child{margin-bottom:0;}
	.process a {padding: 5px 40px;}
	.processDesc p{text-align:center;}
	.singleP{margin-left:30px;}
	#slideCase{float:none; width:220px;}
	#slideDesc.column,.table.column{float:none; margin:0 !important;}
	.column{margin:0 !important;}
	#slideDesc ul{ margin-bottom:40px;}
	.nameProfile:after{left:65px;}
	.titleInner:after, #ourProcess .titleInner:after, .elementSec .titleInner:after, #showCase .titleInner:after, #relatedItem .titleInner:after, #processSingle .titleInner:after, #ourClient .titleInner:after { left: 70px; }
	/*Under construction page*/
	.display { margin-top: 0; }
	.notForm input[type="email"]{width:220px;}
	.btnSubmit input[type="submit"]{width:100px;font-size:16px;}
	.countdown_show3 .countdown_section{padding-right:0;font-size:26px;line-height:0.45}
	.countdown_amount{display:block;margin-bottom:0;width:180px;margin-top: 70px; font-size: 90px}
	.countdown_show3 {margin-left:0px;}
	.error h1 {font-size: 32px;margin-bottom:13px;line-height:43px;}
	.elementsContent{padding-bottom:0;}
	.subscribe { margin: 20px 0 0; }
	
	#mc_embed_signup input[type="email"] { width: 133px; margin-bottom: 20px;  }	
	#subtitle { margin: 30px 0 0; }
	
	/*Pricing table*/
	#pricingContainer{margin-left:3px;margin-top:90px;}
	.pricingtbl ul{width:220px;float:none; margin-right:0;margin-bottom:50px;}
	.pricingtbl ul:last-child{margin-bottom:0;}
	.pricingtbl ul:nth-child(2n){margin-bottom:5px;}
	#pricingContainer .pricing-big li:first-child:after{left:67px;top:100px;}

	/*Testimonials*/
	.two_Columns, .columns_Three, #testimonial  {width:220px;float:none;margin-right:auto;margin-left:auto;}
	.columns_Three{margin-left:auto;margin-right: auto;}
	.columns_Three h2:before{top:43%;}
	.columns_Three{margin-bottom:30px;}
	#testimonial .testimoniaContainer div {width:220px;}
	.testimoniaContainer h3{float:none;}
	#testimonial .testimoniaContainer{height:380px;}
	#testimonial:after {left: 75px;top: 77px;}
	.icon-quote-right-1:before{ left:31% !important; }
	
	/*Portfolio*/
	ul#category li {display:block;height:50px;}
	ul#category li a{margin-right:0;}
	#works .item{float:none;margin-right:40px;width:220px;height:100%;}
	#works{margin-left:5px;}
	.link, ul li.item a{width:220px;height:98%;}
	.link .hgroup h3{font-size:17px;}
	.link i, .item.four .link i { font-size: 22px;line-height: 215px;}
	.desc{width:230px;float:none;margin-bottom:50px;}
	.info.column{float:none; margin:0 !important;}
	
	
	
	/*Shortcode*/
	.accordion, .tabs, .lightbox, .slider, .message, .button, .skills, .tiptool, .cap, .quote, .youtubeVideo, .vimeoVideo, .table{width:220px;}
	.accordion, .lightbox, .message, .skills, .cap,.youtubeVideo{margin-bottom:40px !important;}
	.quote .bq1:after{top:176px;width:150px;}
	.lightbox .link{width:100%; height:97%;}
	.lightbox .link i{line-height:170px !important;}
	.slider .flex-direction-nav .flex-prev {left:0 !important;}
	.slider .flex-direction-nav .flex-next{right:0 !important;}
	.large a, .small a, .medium a, .smaller a{margin-right:1px;padding-left: 10px;padding-right: 10px;}
	.elementSec .titleInner h1{font-size:17px;}
	a.close {right: 8px;top: 33px;}
	
	
	/*Blog*/
	.container.blogPosts, .container.widgetAside{float:none;display:block;margin-right:0;margin-left:2px;}
	.container.blogPosts{margin-bottom:60px;}
	.container.blogPosts, .container.widgetAside{width:220px;}
	.postContent{padding-top:140px;}
	.postTitle h1, .postTitle h1 a, .commentscountTitle h1, .respondTitle h1{font-size:15px;}
	.tagsList li a{padding:6px;}
	#postSlider .postMeta, .postMeta{bottom:-120px;left:9px;}
	.postTitle:after, .commentscountTitle:after, .respondTitle:after{left:37px;}
	.arrowpostTitle{top:39px;}
	.postPagination .prev a, .postPagination .next a, .postPagination li a{margin-bottom:3px;}
	.postTitle h1{line-height:24px;}
	.postMeta li, .postMeta a{margin-bottom:1px;}
	.postMeta li{padding:3px 10px;}
	.widget .titleInner:after{left:50px;}
	.widgetTweets .tweet_list{height:240px;}
	.respondForm input[type="text"], .respondForm input[type="email"]{width:170px;}
	.respondForm textarea{width:170px;}
	.postContent blockquote:after{top:191px;width:110px;}
	.tags a {display: block;margin-bottom: 5px;margin-top: 8px;}
	.related li {margin-bottom: 15px;width: 180px;margin-left:0;}
	.related li:last-child {margin-bottom: 0;}
	.comments .replys{margin-left:7px;}
	#postSlider .flex-direction-nav .flex-prev, #latest .flex-direction-nav .flex-prev{left:0 !important;}
	#postSlider .flex-direction-nav .flex-next, #latest .flex-direction-nav .flex-next{right:0 !important;}
	#latest .flex-direction-nav a{height:23px;}
	

	/*Contact and footer*/
	.contactInfo p {
		line-height:32px;
	}
	.contactInfo p + p > b {
		float: left;
		clear: left;
	}
	.contactInfo{width:220px;font-size:13px;}
	#footer:after, #anota:after, #breadCrump:after{left:15%;width:220px;}
	.contactForm ,#map{width:220px;float:none; margin-right:auto;margin-left:auto;}
	#map{margin-top:50px;}
	.contactForm input[type="text"], .contactForm input[type="email"], .contact input[type="number"]{width:210px;}
	.contactForm textarea{width:213px;}
	.contactForm input#submit{width:225px;}
	input,#mobileNav select, textarea, input[type="submit"]{-webkit-appearance: none;-webkit-border-radius:0;}
	.arrowFooter, .arrowMain, .arrowAnota, .arrowCrump{left:50%;}
	.tweet_list{height:200px;}
	#footer p{font-size:14px;}
	
	
	/*Updated footer*/
	.footerWidget{width:220px;float:none; margin-right:0;margin-bottom:40px;}
	.footerWidget:last-child{margin-bottom:0px;}
	.footerTweets .tweet_list{height:220px;}
	.footerBottom p{float:none; text-align:center;}
	.footerBottom ul#socialsFooter{text-align:center;margin-top:12px;float:none;}
	#socialsFooter li{width:29px;}
	#teaser.videoHeader{margin-top:115px;}
	#teaser iframe{height:100%;}
	
}
@media only screen and (min-width:479px) {
	.countdown_show3 {
		display: table;
		width: 100%;
	}
	.countdown_show3 .countdown_section {
		display: table-cell;
		width: 25%;
	}
}
/*End media queries*/
/*-------------------------------------------------------------------------*/

