#terms-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content.row
      .controls
        a.download.pull-left(href="/terms.txt", _target="blank", download="terms.txt")
          i.fa.fa-download
          | Download
        a.print.pull-right
          i.fa.fa-print
          | Print
      .col-md-2
        .logo
          img(src="images/ethereum-logo-2.png", width="70px")
          .ethereum-logo
            h4 ethereum
      .col-md-10
        a.close-modal &#215;
        #terms-text-container
          h1 Terms and Conditions of the Ethereum Ether Sale

          h2 Introduction

          p Lorem ipsum dolor sit amet, natum putent perpetua no sit, natum delicata at quo. Ex sit animal phaedrum, vim fuisset perfecto ex, sit veniam sanctus sadipscing et. Et sed clita reformidans, ad vix tation mentitum abhorreant. Pri populo commodo persius ei. Cum essent aperiri ex. Ipsum clita no per.

          p Ea vis decore argumentum. His an timeam gubergren reformidans, in cum legere facete splendide. Audire propriae mea te, cum euripidis conclusionemque ad. Sea cu nobis doming melius, minim deleniti cotidieque quo et. Quo ut definiebas vituperatoribus.

          p Cum te sensibus dissentias, et sit augue voluptaria temporibus. Sit eirmod salutatus democritum an. Fugit copiosae definiebas eu has, denique commune sed id, est an enim eligendi sententiae. Mel id iisque aperiam ocurreret. Putant aperiri honestatis per ex. Est libris ponderum et, cu sed illud aeque graeci.

          p Altera dolores corrumpit no mea, per labitur efficiendi ex. Eos cu quem congue quodsi, ad quas debet mea. Mucius definitionem ne sed, nam porro etiam eirmod eu, id malorum vivendum expetenda pro. Cum delenit vocibus urbanitas et. Petentium ullamcorper ei eum, te hinc doming principes sea.

          p Ne splendide evertitur his. Nam delicata senserit consequat in. Dicit essent pro at, vis putent inimicus vituperatoribus eu. Possit nostrud ea vis. Et sea labores suavitate, vis sonet electram quaerendum ut. Vis ei porro perpetua accommodare, quem vero mazim mea id, melius iuvaret incorrupte nam ne.

          p Dolorem denique pericula eum eu, cum vide ullamcorper te. Ei vix cibo dicat quidam. Ut graeco prodesset vix. Per ex lorem veritus disputationi.

          p Te pri quando vivendum mediocrem, ludus utamur definitionem eu nam. Usu in essent periculis. Ea choro dicam has. Id veritus fuisset pri, vis ea unum aliquid conceptam, vim ex hinc laoreet. Id laoreet adipisci sapientem duo. Id vim veritus facilis atomorum, et nec vivendum periculis.

          p Vim veri ridens prompta te, vim eu officiis comprehensam, sale nonumes ei his. Ei porro corpora reformidans vim, mel graece phaedrum te. Aperiri corrumpit usu ea, velit voluptua sea eu. Eum facete eligendi singulis te, facer luptatum maiestatis te vix, albucius tractatos ex mea.

          p Quo ad eius tation nominavi. Ut inani dictas molestiae eos. Iusto nominavi his cu. Eros soleat neglegentur cum in, no alii scripta qui, habemus epicurei his no. Est inani timeam ea.

          p Falli maiorum liberavisse id his, at vivendum constituam mei, pri nominavi sadipscing ei. Eu usu harum inermis salutatus, meis inciderint concludaturque eum eu, nobis labores ad sed. Numquam meliore platonem vix et, duo falli deserunt ea. Sadipscing conclusionemque te qui, ne vix elit populo, volutpat temporibus ei qui.

          p Cu etiam facilisis pertinacia usu, vel cu ipsum repudiandae. Et invidunt volutpat conclusionemque mea. Ei partem docendi pri, sit te reprimique philosophia reprehendunt. Has malis partiendo reprehendunt ei, audire detraxit no est. Dolor consectetuer per et.

          p At sumo dolor consulatu vis, mea eu viderer corpora atomorum, ut affert oblique disputationi eos. Quo ferri efficiendi in, an ridens detraxit rationibus nam. Invidunt explicari interpretaris vim te. Ut duo legimus reprehendunt. Ut nominati omittantur sit, elit meliore cu cum, volutpat adipiscing ius te. Nec nullam perpetua cu.

          p Iusto graeci id vel. Vel justo velit vidisse ad, usu no nisl diam disputando, usu zril theophrastus ut. Cum cu voluptua consequat, ludus dissentias mei ei. Vis at illud ornatus molestiae.

          p Eam te prompta lucilius intellegam, pri ei dolor philosophia. Soleat iuvaret te eum, eu ius eirmod quaestio. Eum ea paulo altera. Ut quo eirmod aperiri dissentias, eam an idque prompta assueverit, ne dicat tempor nominati vim. Harum commodo ei usu, nam in fabulas percipitur. Quod commodo cu sed.

          p No audire ancillae elaboraret vim. Eam ipsum praesent principes te, choro vocibus et nam. Duo convenire efficiendi ea, no qui partem minimum. Denique lucilius definiebas has no, ignota philosophia ad vim. Movet simul atomorum sed ne, quo errem saepe at.

          p Sed ei audiam sententiae deterruisset, sed no tale praesent assentior. An veritus nominati delicatissimi vim, in vix vocibus probatus. Legimus elaboraret eu duo. Mei dicant libris integre eu, no vix tibique elaboraret. Nam in molestie praesent, ceteros voluptua vituperatoribus ut sed, erat mentitum adipiscing ei eos. Qui facete utroque vocibus id.

          p Falli doctus ex vim, pri hinc democritum ad, mundi animal menandri an vix. Quando vidisse conceptam cum in. Ad per ceteros interesset. No sit assentior intellegam, vix brute nonumes menandri et. Pri sale utroque ex. Etiam inani legendos ne vim.

          p Ex qui commune corrumpit. Quot fabellas pro id. Ne duis explicari consetetur quo, menandri accusamus vix et, impetus diceret tractatos at mea. At eam vero petentium, in movet facilisi sed, vel labitur intellegebat consequuntur id.

          p Facilisi democritum ex his, urbanitas delicatissimi sed ut. Causae appellantur at vix, exerci consectetuer in vis, at vim augue concludaturque. Minimum iracundia ad nam, aperiri blandit qui in. Deleniti urbanitas mea ne, ius mollis iracundia te, id unum utinam munere pri. Mutat eruditi vel ut, in eum exerci appareat, scaevola complectitur no ius. Dicat latine invidunt eu est, per causae prompta aliquando in.

          p Mei prima adipiscing ad, ei mazim tollit has. Sed at unum signiferumque. Nam et clita officiis deseruisse. Habeo dicam an eam, mel in dolorem placerat comprehensam. Cu mea viderer detracto repudiandae, eu rebum summo omnes nam, nec et fabellas deseruisse.

          p Est petentium quaerendum ad, vix ea saepe delectus, ne errem homero populo nam. Cu sea molestie lobortis nominati, has in brute movet habemus, paulo nonumy reprimique id eos. Ius ei omittam contentiones. Pri cu libris consequat gloriatur, nam at laboramus complectitur contentiones. Quidam omnium pertinacia vix ex, dictas corrumpit mediocritatem cum ad. Eam no dolor homero vidisse, nam in magna voluptua scaevola. Id illud insolens cum, eum ne mentitum quaestio.

          p Ne minimum efficiendi sea. Vivendo recteque sed in, duo sensibus torquatos definitiones in, no vis elit nobis rationibus. Cum falli temporibus ex, pri ad soleat patrioque. Pro ad graecis feugait vituperata. Et ignota doctus maiestatis qui, per reque scriptorem et. Sed denique constituto te. Eam impetus consequat reprehendunt ut, et sint vidisse regione mei.

          p Cum at aeterno bonorum consectetuer, ut quando temporibus nam, mollis aliquip constituam ne ius. Ne has audiam erroribus, pro ne consul saperet inciderint. Vitae affert laboramus quo ne. Eam equidem albucius indoctum ex. Sanctus feugait docendi ad usu, ut quot prima posse mel, eum dicunt accusamus efficiantur ei. Sed nulla accommodare te, nec ut fabulas molestiae. Mel ex facete sanctus, id verear instructior est.

          p Eam ei dicit intellegam, novum repudiare comprehensam ex ius. Ius dictas aliquip scribentur eu, agam vero erroribus vis eu, te nec augue convenire voluptatum. In omnes possim evertitur his. Solum probatus ne mea, id scripta quaeque his. Te nec deserunt consetetur voluptatum.
        .got-it
          p I have read and fully understood the terms & conditions of the Ethereum Ether Sale
          input#confirm-terms(type="checkbox", name="confirm-terms", disabled="true")
          label(for="confirm-terms").disabled Agree <small class="infoText">(scroll to the end of the terms to enable button)</small>
