video(autoplay='', loop='', muted='', style='width:100%;')
  source(src='/images/videobg.mp4', type='video/mp4')
  source(src='/images/videobg.webm', type='video/webm')
.video-content
  img(height= '200', src='/images/ethereum-logo.png')
  p
  div.ethereum-logo
    h2 ethereum

