video(autoplay='', loop='', muted='', style='width:100%;')
  source(src='/images/videobg.mp4?20140310130500', type='video/mp4')
  source(src='/images/videobg.webm?20140310130500', type='video/webm')
.video-content
  img(height= '200', src='/images/ethereum-logo.png?20140310130500')
  p
  div.ethereum-logo
    h2 ethereum

