video(autoplay='', loop='', muted='', style='width:100%;')
  source(src='/images/videobg.mp4', type='video/mp4')
  source(src='/images/videobg.webm', type='video/webm')
.video-content
<<<<<<< HEAD
  img(height= '200', src='/images/ethereum-logo.png?20140310130500')
  h2.ethereum-logo ethereum
=======
  img(height= '200', src='/images/ethereum-logo.png')
  p
  div.ethereum-logo
    h2 ethereum
>>>>>>> presale

