title ethereum
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel="icon",type='image/png',href="favicon.png")
link(rel="shortcut icon",type='image/x-icon',href="favicon.ico")
// STYLES
link(rel="stylesheet", href="/linker/styles/bootstrap.min.css")
link(rel="stylesheet", href="/linker/styles/bootstrap-theme.min.css")
link(rel="stylesheet", href="/linker/styles/font-awesome.min.css")
link(rel="stylesheet", href="/linker/styles/liquid-slider.css")
link(rel="stylesheet", href="/linker/styles/animate.css")
link(rel="stylesheet", href="/linker/styles/roboto.css")
link(rel="stylesheet", href="/linker/styles/zocial.css")
link(rel="stylesheet", href="/linker/styles/meetupmap.css")
link(rel="stylesheet", href="/linker/styles/style.css")
// STYLES END
