#media-slider.liquid-slider
  div#1280x720
    h4.title  1280x720px
    pre
      a.mediaimage(href='/images/desktopbgs/1280X720/ethereum_1280x720_1.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X720/ethereum_1280x720_1.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X720/ethereum_1280x720_2.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X720/ethereum_1280x720_2.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X720/ethereum_1280x720_3.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X720/ethereum_1280x720_3.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X720/ethereum_1280x720_4.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X720/ethereum_1280x720_4.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X720/ethereum_1280x720_5.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X720/ethereum_1280x720_5.jpg')

  div#1280x1024
    h4.title  1280x1024px
    pre
      a.mediaimage(href='/images/desktopbgs/1280X1024/ethereum_1280x1024_1.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X1024/ethereum_1280x1024_1.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X1024/ethereum_1280x1024_2.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X1024/ethereum_1280x1024_2.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X1024/ethereum_1280x1024_3.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X1024/ethereum_1280x1024_3.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X1024/ethereum_1280x1024_4.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X1024/ethereum_1280x1024_4.jpg')
      a.mediaimage(href='/images/desktopbgs/1280X1024/ethereum_1280x1024_5.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1280X1024/ethereum_1280x1024_5.jpg')

  div#1440x900
    h4.title  1440x900px
    pre
      a.mediaimage(href='/images/desktopbgs/1440X900/ethereum_1440x900_1.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1440X900/ethereum_1440x900_1.jpg')
      a.mediaimage(href='/images/desktopbgs/1440X900/ethereum_1440x9001440x900_2.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1440X900/ethereum_1440x900_2.jpg')
      a.mediaimage(href='/images/desktopbgs/1440X900/ethereum_1440x900_3.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1440X900/ethereum_1440x900_3.jpg')
      a.mediaimage(href='/images/desktopbgs/1440X900/ethereum_1440x900_4.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1440X900/ethereum_1440x900_4.jpg')
      a.mediaimage(href='/images/desktopbgs/1440X900/ethereum_1440x900_5.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1440X900/ethereum_1440x900_5.jpg')

  div#1920x1080
    h4.title  1920x1080px
    pre
      a.mediaimage(href='/images/desktopbgs/1920X1080/ethereum_1280x720_1.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1920X1080/ethereum_1920x1080_1.jpg')
      a.mediaimage(href='/images/desktopbgs/1920X1080/ethereum_1280x720_2.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1920X1080/ethereum_1920x1080_2.jpg')
      a.mediaimage(href='/images/desktopbgs/1920X1080/ethereum_1280x720_3.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1920X1080/ethereum_1920x1080_3.jpg')
      a.mediaimage(href='/images/desktopbgs/1920X1080/ethereum_1280x720_4.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1920X1080/ethereum_1920x1080_4.jpg')
      a.mediaimage(href='/images/desktopbgs/1920X1080/ethereum_1280x720_5.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/1920X1080/ethereum_1920x1080_5.jpg')

  div#2560x1600
    h4.title 2560 x 1600px
    pre
      a.mediaimage(href='/images/desktopbgs/2560X1600/ethereum_2560x1600_1.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/2560X1600/ethereum_2560x1600_1.jpg')
      a.mediaimage(href='/images/desktopbgs/2560X1600/ethereum_2560x1600_2.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/2560X1600/ethereum_2560x1600_2.jpg')
      a.mediaimage(href='/images/desktopbgs/2560X1600/ethereum_2560x1600_3.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/2560X1600/ethereum_2560x1600_3.jpg')
      a.mediaimage(href='/images/desktopbgs/2560X1600/ethereum_2560x1600_4.jpg')
        img(height='150px', width='150px', src='/images/desktopbgs/2560X1600/ethereum_2560x1600_4.jpg')
