div#presale-counters-slider.text-center.liquid-slider(ng-app="ethereum")
  #ethersale-charts.container
    .col-md-4
    .col-md-4
    .col-md-4
      a(href="#right", data-liquidslider-ref="#presale-counters-slider").fancy-black-btn Back
  div#sale-counters-container.container
    div#counters-primary.row
      div.sale-duration-container.col-md-4.countdown-dials
        div.inner.hide-after-end
          h4 Sale duration:
          div.dial-container
            input(type="text", value="0").dial.days
            span.dial-label Days
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.hours
            span.dial-label Hours
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.minutes
            span.dial-label Minutes
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.seconds
            span.dial-label Seconds
      div#total-sold-container.col-md-4
        div.inner
          h4 Total ether purchased:
          span.total
          span.total-currency-label BTC
          h4.subheadline.hide-after-end Current exchange rate:
          #exchange-rate-container.hide-after-end
            span.amount 1
            span.amount-currency-label BTC
            span.amount =
            span.amount.eth-to-btc 2000
            span.amount-currency-label ETH
          a(href="#") Terms and conditions
      div.rate-countdown-container.col-md-4.countdown-dials
        div.inner.hide-after-end
          h4 Until new rate: 1BTC=
            span.next-eth-to-btc 2000
            ETH
          div.dial-container
            input(type="text", value="0").dial.days
            span.dial-label Days
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.hours

            span.dial-label Hours
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.minutes

            span.dial-label Minutes
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.seconds

            span.dial-label Seconds
    #counters-secondary.row
      .col-md-4
        a(href="#left", data-liquidslider-ref="#presale-counters-slider").btn-buy-ether.hide-after-end Charts
      .col-md-4
      .col-md-4
        a#start-ether-purchase.btn-buy-ether.hide-after-end Buy Ether
  #ethersale-app
    div(ng-controller="PurchaseCtrl")
      #entropy-progress
        .bar(style="width:{{entropyPercent}}%")
      .container
        .row
          .col-md-4
          .col-md-4
            h3 purchase ether
            .step-breadcrumbs(data-step="1")
              span.step1 info >
              span.step2 purchase >
              span.step3 download
          .col-md-4
            a#purchase-cancel(ng-click="reset()") < cancel
        #app-steps-content.liquid-slider
          .step1-content
            .row
              .col-md-5
                .fix-height
                  section
                    p.exchange-rate
                      strong Current rate:
                      span 1
                      span.currency-code BTC
                      span =
                      span.eth-to-btc 2,000
                      span.currency-code ETH
                    p.exchange-rate
                      strong Until new rate:
                      span 1
                      span.currency-code BTC
                      span =
                      span.next-eth-to-btc 1,950
                      span.currency-code ETH
                  section.rate-countdown-container.countdown-dials
                    div.dial-container
                      input(type="text", value="0").dial.days
                      span.dial-label Days
                    span.delimiter :
                    div.dial-container
                      input(type="text", value="0").dial.hours
                      span.dial-label Hours
                    span.delimiter :
                    div.dial-container
                      input(type="text", value="0").dial.minutes
                      span.dial-label Minutes
                    span.delimiter :
                    div.dial-container
                      input(type="text", value="0").dial.seconds
                      span.dial-label Seconds
                  section.row
                    .col-md-5
                      p amount BTC:
                      input(type="text", ng-model="btcToSend", numeric, ng-change="updateEthToBuy()").amount-box 
                    .col-md-2.delimiter
                      span.exchange-delimiter =
                    .col-md-5
                      p amount ETH:
                      input(type="text", ng-model="ethToBuy", numeric, ng-change="updateBtcToSend()").amount-box.eth-to-btc
                  section
                    p.copy Enter amount to purchase. A passphrase is needed to encrypt and recover your payment keys. In addition to generating a downloadable backup, we will also send you an email with recovery information attached.
                section
                  p.important Do not forget your passphrase!
              .col-md-2
              .col-md-5
                .fix-height
                  form(name="purchase_form", role="form", novalidate)
                    section.form-group
                      label Your wallet back up will be emailed to this email
                      input#purchase-email.form-control(type="email", name="email", ng-model="email", placeholder="Enter your email", required, ng-disabled="wallet.ethaddr")
                      .label-container
                        label.error(ng-show="purchase_form.email_repeat.$error.match") Emails do not match
                      input#purchase-email-repeat.form-control(type="email", name="email_repeat", ng-model="email_repeat", placeholder="Enter your email", data-match="email", ng-disabled="wallet.ethaddr")
                    section.form-group
                      label.mini
                        p This will serve as your wallet passphrase
                        div Passphrase strength:
                          ul#strength(check-strength="password")
                      input#password.form-control(type="password", name="password", ng-model="password", required, ng-disabled="wallet.ethaddr", placeholder="Enter your passphrase")
                      .label-container
                        ul#password-checks
                          li(ng-class="{active: passChecks.longStr}") <i class="fa fa-check"></i> 8+ characters
                          li(ng-class="{active: passChecks.bothCase}") <i class="fa fa-check"></i> Upper and lowercase letters
                          li(ng-class="{active: passChecks.numbers}") <i class="fa fa-check"></i> Numbers
                          li(ng-class="{active: passChecks.symbols}") <i class="fa fa-check"></i> Symbols
                          li(ng-class="{active: passChecks.unique}") <i class="fa fa-check"></i> Unique
                      input#password_repeat.form-control(type="password", name="password_repeat", ng-model="password_repeat", required, data-match="password", ng-disabled="wallet.ethaddr", placeholder="Enter your passphrase")
                      .label-container
                        label.error(ng-show="purchase_form.password_repeat.$error.match") Passphrases do not match
                section
                  p.important(ng-if="collectingEntropy") {{ "Move your mouse to generate entropy" }}
          .step2-content
            h4 You are about to buy 
              span.eth-to-btc {{ethToBuy}}
              span.currency-code ETH 
              | for {{btcToSend}}
              span.currency-code BTC
            div
              .row
                .col-md-5
                  section
                    p send bitcoins to this address:
                  section
                    a(href="bitcoin:{{wallet.btcaddr}}")
                      div#qr-deposit-address
                  section
                    p.copy payment address:
                    span.payment-address.nowrap(href="bitcoin:{{wallet.btcaddr}}") {{wallet.btcaddr}}
                  section
                    p.copy Send bitcoin to the above address to buy Ether. Once we have your payment confirmed the option to download your wallet will appear.                    
                .col-md-2
                .col-md-5
                  p purchase status:
                  #confirmations-container
                    .loader Loading...
                  section
                    p.copy Your ethereum address:
                    p.payment-address {{wallet.ethaddr}}
                  section
                    p.copy Once we have confirmed the payment, the option to download your wallet will appear. Your will also be emailed a back up of this file.
          .step3-content
            a#print-purchase-page.no-print <i class="fa fa-print fa-2x"></i> print page
            h4 Thank you for your purchase
            div
              .row
                .col-md-5
                  section
                    p.important bitcoin transaction ID:
                    p.btc-transaction-id {{transactionHash}}
                  section#email-confirmations-container.no-print
                    input#email-confirmations-dial(type="text")
                    #email-dial-shim.confirmations-dial-shim X/X
                  section
                    p Only transactions with a minimum of six confirmations will be considered valid
                    p.important {{email}}
                  section
                    p.copy Your ethereum address:
                    p.payment-address {{wallet.ethaddr}}
                .col-md-2
                .col-md-5
                  section
                    p.copy.no-print This file represents your private key to your wallet, encrypted by your passphrase in a .json file. When the ethereum block-chain is live you can import this file in your wallet and the balance will be adjusted automatically with the purchased amount.
                  section
                    a#downloadLink.no-print(download="ethereum-wallet-{{wallet.ethaddr}}.json", target="_blank", ng-click="downloadWallet()", href="#") Download your wallet
                  section
                    p.copy Recommendations
                    ol#recommendations
                      li Make sure you do not forget your passphrase!
                      li Create backups on multiple mediums
                      li Visit our <strong><a href="http://blog.ethereum.org/">forums</a></strong> if you have any questions
                  section
                    a#back-to-start.no-print(ng-click="reset()") Done

