.container-fluid

  div.row
    div#media-contact.col-md-3
      img(height= '150', src='/images/main_logo_360_dark.png', style="verical-align: baseline; margin-bottom: 50px; margin-top: 10px;")
      h4.media1 Contact media ethereum
      p.media1 --
      p.media1(style="line-height:2em") Stephan Tual CCO
      a.presslink(href='mailto:stephan@ethereum.org') stephan@ethereum.org
      p.media1 --
      h4.media1 Hub Locations
      p.media1 --
      p.media1(style="line-height:2em") Ethereum Switzerland GmbH
      | Grienbachstrasse 55
      | Baar-Inwil 6340
      p.media1 --
      p.media1(style="line-height:2em") Ethereum Toronto
      | Financial District, Toronto, Canada
      p.media1 --
      p.media1 Ethereum New York
      p.media1 --
      p.media1 Ethereum London
      p.media1 --
      p.media1 Ethereum Berlin
      p.media1 --
      p.media1 Ethereum Amsterdam
      p.media1 --

    div.col-md-9.pull-right
      div.row
        div.col-md-12.text-center
          h2.pressimg.text-left(style="margin-top:0px; padding-top: 0px;") press &amp; media sources
        div.clearfix
        div.col-sm-12
          include press
          a.leftSliderArrow(href='#left', data-liquidslider-ref='#press-slider')
            i.fa.fa-fw.fa-angle-left.fa-3x
          a.rightSliderArrow(href='#right', data-liquidslider-ref='#press-slider')
            i.fa.fa-fw.fa-angle-right.fa-3x
        div.nano.col-md-12.pull-left.text-left
          div.nano-content
            ul#presslist
              li
                h5.pressdate 06/06/2014
                a.presslink(href='http://cointelegraph.com/news/111709/ethereum_founder_awarded_100k_thiel_fellowship', target='_blank') [Coin Telegraph] Ethereum Founder Awarded $100K Thiel Fellowship

              li
                h5.pressdate 05/10/2014
                a.presslink(href='http://www.theepochtimes.com/n3/668104-the-entrepreneur-joe-lubin-coo-of-ethereum/', target='_blank') [The Epoch Times] The Entrepreneur: Joe Lubin, COO of Ethereum

              li
                h5.pressdate 05/09/2014
                a.presslink(href='http://www.theepochtimes.com/n3/665367-bitcoin-2-0/', target='_blank') [The Epoch Times] Bitcoin 2.0: Bringing Us Back to the Village

              li
                h5.pressdate 04/28/2014
                a.presslink(href='http://www.bloomberg.com/news/2014-03-28/bitcoin-2-0-shows-technology-evolving-beyond-use-as-money.html', target='_blank') [Bloomberg] Bitcoin 2.0 Shows Technology Evolving Beyond Use as Money

              li
                h5.pressdate 04/25/2014
                a.presslink(href='http://bitcoinmagazine.com/12596/web-3-0-chat-ethereums-gavin-wood', target='_blank') [Bitcoin Magazine] Web 3.0 chat with Gavin Wood

              li
                h5.pressdate 04/18/2014
                a.presslink(href='http://coda.caseykuhlman.com/entries/2014/etherum-visits-harvard.html', target='_blank') [Casey Kuhlman] What the Esteemed (and Very Smart) Law Professors Missed at the HLS Ethereum Talk

              li
                h5.pressdate 04/17/2014
                a.presslink(href='http://insightsintoamodernworld.blogspot.co.uk/2014/04/apps-what-web-30-looks-like.html', target='_blank') [Insights into a Modern World] ÐApps: What Web 3.0 Looks Like

              li
                h5.pressdate 04/07/2014
                a.presslink(href='http://america.aljazeera.com/articles/2014/4/7/code-your-own-utopiameetethereumbitcoinasmostambitioussuccessor.html', target='_blank') [Al Jazeera] Code your own utopia: Meet Ethereum, bitcoin’s most ambitious successor

              li
                h5.pressdate 03/28/2014
                a.presslink(href='http://www.wired.com/2014/03/geeks-guide-karl-schroeder', target='_blank') [Wired] A Futurist on Why Lawyers Will Start Becoming Obsolete This Year

              li
                h5.pressdate 03/08/2014
                a.presslink(href='http://www.wired.com/opinion/2014/03/decentralized-applications-built-bitcoin-great-except-whos-responsible-outcomes/', target='_blank') [Wired] Tomorrow’s Apps Will Come From Brilliant (And Risky) Bitcoin Code

              li
                h5.pressdate 03/08/2014
                a.presslink(href='http://www.maxkeiser.com/2014/03/kr569-keiser-report-new-crypto-phenomenon-ethereum/', target='_blank') [Keiser Report] New Crypto Phenomenon Ethereum

              li
                h5.pressdate 02/28/2014
                a.presslink(href='http://spelunk.in/2014/02/28/ethereum-taking-crypto-beyond-just-currency/', target='_blank') [spelunk.in] Ethereum: Taking Crypto Beyond Just Currency

              li
                h5.pressdate 02/12/2014
                a.presslink(href='https://medium.com/p/d609eef3e6cb', target='_blank') [Malcolm van Delst] Ethereum and the Crypto-Financial Revolution

              li
                h5.pressdate 02/10/2014
                a.presslink(href='http://www.fastcolabs.com/3026271/could-this-20-year-old-kid-make-bitcoin-obsolete', target='_blank') [Fast Company] Could This 20-Year-Old Kid Make Bitcoin Obsolete?

              li
                h5.pressdate 02/05/2014
                a.presslink(href='http://www.gogerty.com/blogpersonal/ethereum-bitcoin-protocols-for-9-3-trillion-in-value/', target='_blank') [Thinking in systems] Ethereum &amp; Bitcoin : Protocols for $9.3 trillion in value for dead capital?

              li
                h5.pressdate 02/05/2014
                a.presslink(href='https://medium.com/p/3f6db91351c9', target='_blank') [Dag] Is Bitcoin the Telegraph?

              li
                h5.pressdate 02/01/2014
                a.presslink(href='http://cryptonomics.org/2014/02/01/ethereum-turing-complete-programmable-money/', target='_blank') [Cryptonomics] Ethereum: Turing-complete, programmable money

              li
                h5.pressdate 01/27/14
                a.presslink(href='http://www.wired.com/wiredenterprise/2014/01/ethereum/?cid=co17648004', target='_blank') [Wired] Out in the Open: Teenage Hacker Transforms Web Into One Giant Bitcoin Network

              li
                h5.pressdate 01/23/2014
                a.presslink(href='http://bitcoinmagazine.com/9671/ethereum-next-generation-cryptocurrency-decentralized-application-platform/', target='_blank') [Bitcoin Magazine] A Next-Generation Cryptocurrency and Decentralized Application Platform

    div.col-sm-12.pull-right
      include media
      a.leftSliderArrow(href='#left', data-liquidslider-ref='#media-slider')
        i.fa.fa-fw.fa-angle-left.fa-3x
      a.rightSliderArrow(href='#right', data-liquidslider-ref='#media-slider')
        i.fa.fa-fw.fa-angle-right.fa-3x
