#press-slider.liquid-slider
  div
    a.pressimg(href='http://bitcoinmagazine.com/9867/ethereum-dapps-rise-new-internet/')
      img(height='auto', src='images/pressimages/bitcoinmag.png')
    a.pressimg(href='http://www.wired.com/underwire/2014/03/geeks-guide-karl-schroeder/')
      img(height='auto', src='/images/pressimages/wired.png')
    a.pressimg(href='http://www.bloomberg.com/news/2014-03-28/bitcoin-2-0-shows-technology-evolving-beyond-use-as-money.html')
      img(height='auto', src='images/pressimages/bloom.png')
    a.pressimg(href='http://www.fastcolabs.com/3026271/could-this-20-year-old-kid-make-bitcoin-obsolete')
      img(height='auto', src='images/pressimages/fastcompany.png')
    a.pressimg(href='http://thenextweb.com/insider/2014/02/15/bitcoin-platform-currency/7/')
      img(height='auto', src='images/pressimages/thenextweb.png')
    a.pressimg(href='http://www.theepochtimes.com/n3/665367-bitcoin-2-0/')
      img(height='auto', src='images/pressimages/EpochTimes.png')

  div
    a.pressimg(href='http://www.world-bitcoin-forum.com/2014/04/01/gavin-wood/?utm_content=buffer280c8&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer')
      img(height='auto', src='images/pressimages/WbitcoinFrm.png')
    a.pressimg(href='http://www.maxkeiser.com/2014/03/kr569-keiser-report-new-crypto-phenomenon-ethereum/')
      img(height='auto', src='images/pressimages/Kreport.png')
    a.pressimg(href='http://spelunk.in/2014/02/28/ethereum-taking-crypto-beyond-just-currency/')
      img(height='auto', src='images/pressimages/spl.png')
    a.pressimg(href='http://cryptonomics.org/2014/02/01/ethereum-turing-complete-programmable-money/')
      img(height='auto', src='images/pressimages/cn.png')
    a.pressimg(href='http://www.moneyandtech.com/feb5-news-updates/')
      img(height='auto', src='images/pressimages/mat.png')
    a.pressimg(href='http://www.newscientist.com/article/mg22129553.700-bitcoin-how-its-core-technology-will-change-the-world.html#.U4xi-HV515S')
      img(height='auto', src='images/pressimages/newscientist.png')

  div
    a.pressimg(href='http://www.cryptocoinsnews.com/2014/02/03/ethereum-premine-leading-forks-source-code/')
      img(height='auto', src='images/pressimages/cnews.png')
    a.pressimg(href='http://america.aljazeera.com/articles/2014/4/7/code-your-own-utopiameetethereumbitcoinasmostambitioussuccessor.html')
      img(height='auto', src='/images/pressimages/aljazeera.png')

  //- div
  //-   pre
  //-     a.pressimg.pressimg(href='')
  //-       img.pressimg(height='auto', src='images/pressimages/.png')
  //-     a.pressimg.pressimg(href='')
  //-       img.pressimg(height='auto', src='images/pressimages/.png')
