div#press-feed
  div.row
    div.col-md-12.text-center
      h2.pressimg.text-left press &amp; media sources

div.row.pull-right
  div#media-contact.col-md-2.pull-left
    img.padbottom(height= '150', width='75', src='/images/main_logo_360.png')
    p.media1 Contact media ethereum
    p.media1 --
    p.media1 Stephan Tual CCO
    | stephan@ethereum.org
    p.media1 --
    p.media1 Hub Locations
    p.media1 --
    p.media1 Ethereum Switzerland GmbH
    | Grienbachstrasse 55
    | Baar-Inwil 6340
    p.media1 --
    p.media1 Ethereum Toronto
    | Financial District, Toronto, Canada
    p.media1 --
    p.media1 Ethereum New York
    p.media1 --
    p.media1 Ethereum London
    p.media1 --
    p.media1 Ethereum Berlin
    p.media1 --
    p.media1 Ethereum Amsterdam
    p.media1 --

  div.col-md-10.pull-right
    div.col-md-1
      a(href='#left', data-liquidslider-ref='#press-slider')
        i.fa.fa-fw.fa-angle-left.fa-3x
    div.col-md-8
      include press
    div.col-md-1
      a(href='#right', data-liquidslider-ref='#press-slider')
        i.fa.fa-fw.fa-angle-right.fa-3x

  div.col-md-10.pull-right.text-left
    ul#presslist
      li
        a.presslink(href='http://www.theepochtimes.com/n3/665367-bitcoin-2-0/')
          h4.pressdate 05/09/2014
          p Bitcoin 2.0: Bringing Us Back to the Village (feat. Joseph Lubin)
      li
        a.presslink(href='http://www.theepochtimes.com/n3/668104-the-entrepreneur-joe-lubin-coo-of-ethereum/')
          h4.pressdate 05/10/2014
          p The Entrepreneur: Joe Lubin, COO of Ethereum
      li
        a.presslink(href='http://insightsintoamodernworld.blogspot.co.uk/2014/04/apps-what-web-30-looks-like.html')
          h4.pressdate 04/17/2014
          p ÐApps: What Web 3.0 Looks Like
      li
        a.presslink(href='http://bitcoinmagazine.com/12596/web-3-0-chat-ethereums-gavin-wood')
          h4.pressdate 04/25/2014
          p  Web 3.0 chat with Gavin Wood
      li
        a.presslink(href='http://www.cryptobang.com/2014/04/21/ethereum-ether-subatomic-particle-mind-bending-drug-or-internal-currency/')
          h4.pressdate 04/21/2014
          p Ether – Subatomic Particle, Mind Bending Drug Or Internal Currency?
      li
        a.presslink(href='http://coda.caseykuhlman.com/entries/2014/etherum-visits-harvard.html')
          h4.pressdate 04/18/2014
          p What the Esteemed (and Very Smart) Law Professors Missed at the HLS Ethereum Talk
      li
        a.presslink(href='http://america.aljazeera.com/articles/2014/4/7/code-your-own-utopiameetethereumbitcoinasmostambitioussuccessor.html')
          h4.pressdate 04/18/2014
          p Code your own Utopia, meet Ethereum, Bitcoin's most ambitious successor
      li
        a.presslink(href='http://www.world-bitcoin-forum.com/2014/04/01/gavin-wood/?utm_content=buffer280c8&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer')
          h4.pressdate 04/01/2014
          p Interview with Dr Gavin Wood
      li
        a.presslink(href='http://www.wired.com/underwire/2014/03/geeks-guide-karl-schroeder/')
          h4.pressdate 03/28/2014
          p A Futurist on Why Lawyers Will Start Becoming Obsolete This Year
      li
        a.presslink(href='http://www.wired.com/opinion/2014/03/decentralized-applications-built-bitcoin-great-except-whos-responsible-outcomes/')
          h4.pressdate 03/08/2014
          p Tomorrow’s Apps Will Come From Brilliant (And Risky) Bitcoin Code
      li
        a.presslink(href='http://spelunk.in/2014/02/28/ethereum-taking-crypto-beyond-just-currency/')
          h4.pressdate 02/28/2014
          p Ethereum: Taking Crypto Beyond Just Currency
      li
        a.presslink(href='http://thenextweb.com/insider/2014/02/15/bitcoin-platform-currency/7/')
          h4.pressdate 02/16/2014
          p Bitcoin: It’s the platform, not the currency, stupid!
      li
        a.presslink(href='https://medium.com/p/d609eef3e6cb')
          h4.pressdate 02/12/2014
          p Ethereum and the Crypto-Financial Revolution
      li
        a.presslink(href='http://www.fastcolabs.com/3026271/could-this-20-year-old-kid-make-bitcoin-obsolete')
          h4.pressdate 02/10/2014
          p Could This 20-Year-Old Kid Make Bitcoin Obsolete?
      li
        a.presslink(href='http://cryptonomics.org/2014/02/01/ethereum-turing-complete-programmable-money/')
          h4.pressdate 02/01/2014
          p Ethereum: Turing-complete, programmable money
      li
        a.presslink(href='http://www.moneyandtech.com/feb5-news-updates/')
          h4.pressdate 02/05/2014
          p Money and Tech 2/5 Weekly News Update
      li
        a.presslink(href='http://www.gogerty.com/blogpersonal/ethereum-bitcoin-protocols-for-9-3-trillion-in-value/')
          h4.pressdate 02/05/2014
          p Ethereum &amp; Bitcoin : Protocols for $9.3 trillion in value for dead capital?
      li
        a.presslink(href='http://www.newscientist.com/article/mg22129553.700-bitcoin-how-its-core-technology-will-change-the-world.html#.UvKcqHd_s0t')
          h4.pressdate 02/05/2014
          p Bitcoin: how its core technology will change the world
      li
        a.presslink(href='https://medium.com/p/3f6db91351c9')
          h4.pressdate 02/05/2014
          p Is Bitcoin the Telegraph?
      li
        a.presslink(href='http://bitcoinmagazine.com/9671/ethereum-next-generation-cryptocurrency-decentralized-application-platform/')
          h4.pressdate 01/23/2014
          p A Next-Generation Cryptocurrency and Decentralized Application Platform
      li
        a.presslink(href='http://bitcoinmagazine.com/9867/ethereum-dapps-rise-new-internet/')
          h4.pressdate 02/03/2014
          p Ethereum, Dapps, and the rise of a new Internet
      li
        a.presslink(href='http://www.fuerstlaw.com/wp/index.php/04/charlie-shrem-and-why-we-need-to-change-our-perspective-of-bitcoin/')
          h4.pressdate 02/04/2014
          p Charlie Shrem And Why We Need To Change Our Perspective Of Bitcoin
      li
        a.presslink(href='http://www.cryptocoinsnews.com/2014/02/03/ethereum-premine-leading-forks-source-code/')
          h4.pressdate 03/02/2014
          p Why Ethereum Should Not Worry About Forks
      li
        a.presslink(href='http://www.wired.com/wiredenterprise/2014/01/ethereum/?cid=co17648004')
          h4.pressdate 01/27/14
          p Out in the Open: Teenage Hacker Transforms Web Into One Giant Bitcoin Network


  div.col-md-12.pull-right
    div.col-md-1
      a(href='#left', data-liquidslider-ref='#media-slider')
        i.fa.fa-fw.fa-angle-left.fa-3x
    div.col-md-10
      include media
    div.col-md-1
      a(href='#right', data-liquidslider-ref='#media-slider')
        i.fa.fa-fw.fa-angle-right.fa-3x
