.container-fluid

  div.row
    div#media-contact.col-md-3
      img(height= '150', src='/images/main_logo_360_dark.png', style="verical-align: baseline; margin-bottom: 50px; margin-top: 10px;")
      h4.media1 Contact media ethereum
      p.media1 --
      p.media1 Stephan Tual CCO
      | stephan@ethereum.org
      p.media1 --
      h4.media1 Hub Locations
      p.media1 --
      p.media1 Ethereum Switzerland GmbH
      | Grienbachstrasse 55
      br
      | Baar-Inwil 6340
      p.media1 --
      p.media1 Ethereum Toronto
      br
      | Financial District, Toronto, Canada
      p.media1 --
      p.media1 Ethereum New York
      p.media1 --
      p.media1 Ethereum London
      p.media1 --
      p.media1 Ethereum Berlin
      p.media1 --
      p.media1 Ethereum Amsterdam
      p.media1 --

    div.col-md-9.pull-right
      div#press-feed
      div.row
        div.col-md-12.text-center
          h2.pressimg.text-left(style="margin-top:0px; padding-top: 0px;") press &amp; media sources
        div.col-sm-12(style="height: 187px")
          include press
          a.leftSliderArrow(href='#left', data-liquidslider-ref='#press-slider')
            i.fa.fa-fw.fa-angle-left.fa-3x
          a.rightSliderArrow(href='#right', data-liquidslider-ref='#press-slider')
            i.fa.fa-fw.fa-angle-right.fa-3x
        div.nano.col-md-12.pull-left.text-left
          div.nano-content
            ul#presslist
              li
                a.presslink(href='http://www.theepochtimes.com/n3/668104-the-entrepreneur-joe-lubin-coo-of-ethereum/')
                  h5.pressdate 05/10/2014
                p The Entrepreneur: Joe Lubin, COO of Ethereum
              li
                a.presslink(href='http://bitcoinmagazine.com/12596/web-3-0-chat-ethereums-gavin-wood')
                  h5.pressdate 04/25/2014
                p  Web 3.0 chat with Gavin Wood
              li
                a.presslink(href='http://www.cryptobang.com/2014/04/21/ethereum-ether-subatomic-particle-mind-bending-drug-or-internal-currency/')
                  h5.pressdate 04/21/2014
                p Ether – Subatomic Particle, Mind Bending Drug Or Internal Currency?
              li
                a.presslink(href='http://coda.caseykuhlman.com/entries/2014/etherum-visits-harvard.html')
                  h5.pressdate 04/18/2014
                p What the Esteemed (and Very Smart) Law Professors Missed at the HLS Ethereum Talk
              li
                a.presslink(href='http://insightsintoamodernworld.blogspot.co.uk/2014/04/apps-what-web-30-looks-like.html')
                  h5.pressdate 04/17/2014
                p ÐApps: What Web 3.0 Looks Like
              li
                a.presslink(href='http://www.wired.com/opinion/2014/03/decentralized-applications-built-bitcoin-great-except-whos-responsible-outcomes/')
                  h5.pressdate 03/08/2014
                p Tomorrow’s Apps Will Come From Brilliant (And Risky) Bitcoin Code
              li
                a.presslink(href='https://medium.com/p/d609eef3e6cb')
                  h5.pressdate 02/12/2014
                p Ethereum and the Crypto-Financial Revolution
              li
                a.presslink(href='http://www.gogerty.com/blogpersonal/ethereum-bitcoin-protocols-for-9-3-trillion-in-value/')
                  h5.pressdate 02/05/2014
                p Ethereum &amp; Bitcoin : Protocols for $9.3 trillion in value for dead capital?
              li
                a.presslink(href='https://medium.com/p/3f6db91351c9')
                  h5.pressdate 02/05/2014
                p Is Bitcoin the Telegraph?
              li
                a.presslink(href='http://www.fuerstlaw.com/wp/index.php/04/charlie-shrem-and-why-we-need-to-change-our-perspective-of-bitcoin/')
                  h5.pressdate 02/04/2014
                p Charlie Shrem And Why We Need To Change Our Perspective Of Bitcoin
              li
                a.presslink(href='http://www.wired.com/wiredenterprise/2014/01/ethereum/?cid=co17648004')
                  h5.pressdate 01/27/14
                p Out in the Open: Teenage Hacker Transforms Web Into One Giant Bitcoin Network
              li
                a.presslink(href='http://bitcoinmagazine.com/9671/ethereum-next-generation-cryptocurrency-decentralized-application-platform/')
                  h5.pressdate 01/23/2014
                p A Next-Generation Cryptocurrency and Decentralized Application Platform

    div.col-md-12.pull-right
      div.col-sm-12
        include media
        a.leftSliderArrow(href='#left', data-liquidslider-ref='#media-slider')
          i.fa.fa-fw.fa-angle-left.fa-3x
        a.rightSliderArrow(href='#right', data-liquidslider-ref='#media-slider')
          i.fa.fa-fw.fa-angle-right.fa-3x
