#press-slider.liquid-slider
  div
    pre
      a.pressimg(href='http://forum.ethereum.org/discussion/733/aljazeera-america-code-your-own-utopia-meet-ethereum-bitcoin-s-most-ambitious-successor')
        img(height='auto', src='/images/aljazeera.png')
      a.pressimg(href='http://forum.ethereum.org/discussion/699/wired-a-futurist-on-why-lawyers-will-start-becoming-obsolete-this-year')
        img(height='auto', src='/images/wired.png')

  div
    pre
      a.pressimg(href='http://forum.ethereum.org/discussion/217/fortune-cash-menagerie-inside-the-bitcoin-confab')
        img(height='auto', src='images/cnnmoney.png')
      a.pressimg(href='http://forum.ethereum.org/discussion/274/new-scientist-bitcoin-how-its-core-technology-will-change-the-world')
        img(height='auto', src='images/newscientist.png')

  div
    pre
      a.pressimg(href='http://forum.ethereum.org/discussion/358/could-this-20-year-old-kid-make-bitcoin-obsolete')
        img(height='auto', src='images/fastcompany.png')
      a.pressimg(href='http://forum.ethereum.org/discussion/395/the-next-web-bitcoin-it-s-the-platform-not-the-currency-stupid')
        img(height='auto', src='images/thenextweb.png')
