div.container.content-box.text-center

  div.container
    div#press-feed.container-fluid.col-sm-9.pull-right
      div.row
        h2.text-left press &amp; media sources

      div.row
        div.col-sm-1
          a(href='#left', data-liquidslider-ref='#press-slider')
            i.fa.fa-fw.fa-angle-left.fa-3x
        div.col-sm-8
          p news icons with attached articles will go here in pagination
        div.col-sm-1.pull-right
          a(href='#right', data-liquidslider-ref='#press-slider')
            i.fa.fa-fw.fa-angle-right.fa-3x

      div.row
        p news articles will go in an iframe here
        p news article
        p news article
        p news article

    div#media-contact.container-fluid.col-sm-3.pull-left
      img(height= '200', src='/images/ethereum-logo.png?20140310130500')


