h2 Who?
#who-slider.liquid-slider
  div.video-responsive
    p
      ul#profile.list-inline
        li
          div.contact-card
            div.person-photo
              img(src='images/who/buterin-vitalik.jpg')
            dl
              dt.person-name Vitalik Buterin
               dd.person-title Founder
            p.person-description
            ul.list-inline
              li
                a(href='https://github.com/vbuterin',title='GitHub')
                  i.fa.fa-github
              li
                a(href='http://twitter.com/VitalikButerin',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/115742856189848313825',title='Google Plus')
                  i.fa.fa-google-plus
              li
                a(href='http://ca.linkedin.com/pub/vitalik-buterin/50/a74/267',title='LinkedIn')
                  i.fa.fa-linkedin
        li
          div.contact-card
            div.person-photo
              img(src='images/who/hoskinson-charles.jpg')
            dl
              dt.person-name Charles Hoskinson
               dd.person-title Founder
            p.person-description
            ul.list-inline
              li
                a(href='https://www.facebook.com/charles.hoskinson.5',title='Facebook')
                  i.fa.fa-facebook
              li
                a(href='https://twitter.com/ethereumcharles',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/u/0/112141869130455815391/posts',title='Google Plus')
                  i.fa.fa-google-plus
              li
                a(href='http://www.linkedin.com/pub/charles-hoskinson/29/983/662',title='LinkedIn')
                  i.fa.fa-linkedin
              li
                a(href='pgp/hoskinson-charles.txt',title='PGP key')
                  i.fa.fa-lock
        li
          div.contact-card
            div.person-photo
              img(src='images/who/di-iorio-anthony.jpg')
            dl
              dt.person-name
                | Anthony Di
                span.I I
                | orio
               dd.person-title Founder
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/diiorioanthony',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='http://ca.linkedin.com/in/anthonydiiorio1',title='LinkedIn')
                  i.fa.fa-linkedin
              li
                a(href='pgp/di-iorio-anthony.txt',title='PGP key')
                  i.fa.fa-lock

        li
          div.contact-card
            div.person-photo
              img(src='images/who/alisie-mihai.jpg')
            dl
              dt.person-name Mihai Alisie
               dd.person-title Founder
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/MihaiAlisie',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://linkedin.com/pub/mihai-alisie/91/6b5/1a1/',title='LinkedIn')
                  i.fa.fa-linkedin

        li
          div.contact-card
            div.person-photo
              img(src='images/who/wood-gavin.jpg')
            dl
              dt.person-name Gavin Wood
               dd.person-title Founder
            p.person-description
            ul.list-inline
              li
                a(href='https://github.com/gavofyork',title='GitHub')
                  i.fa.fa-github
              li
                a(href='http://twitter.com/gavofyork',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='pgp/wood-gavin.txt',title='PGP key')
                  i.fa.fa-lock

        li
          div.contact-card
            div.person-photo
              img(src='images/who/lubin-joseph.jpg')
            dl
              dt.person-name Joseph Lubin
               dd.person-title Founder
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/ethereumjoseph',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+JosephLubin',title='Google Plus')
                  i.fa.fa-google-plus
              li
                a(href='https://www.facebook.com/joseph.lubin.31',title='Facebook')
                  i.fa.fa-facebook
              li
                a(href='pgp/lubin-joseph.txt',title='PGP key')
                  i.fa.fa-lock

        li
          div.contact-card
            div.person-photo
              img(src='images/who/wilcke-jeffrey.jpg')
            dl
              dt.person-name Jeffrey Wilcke
              dd.person-title Founder
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/jeffehh',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+JeffreyWilcke',title='Google Plus')
                  i.fa.fa-google-plus
              li
                a(href='https://github.com/obscuren',title='GitHub')
                  i.fa.fa-github
              li
                a(href='https://www.linkedin.com/profile/view?id=50368940',title='LinkedIn')
                  i.fa.fa-linkedin
              li
                a(href='pgp/wilcke-jeffrey.txt',title='PGP key')
                  i.fa.fa-lock
        li
          div.contact-card
            div.person-photo
              img(src='images/who/chetrit-amir.jpg')
            dl
              dt.person-name Amir Chetrit
               dd.person-title Founder
            p.person-description

        li
          div.contact-card
            div.person-photo
              img(src='images/who/koblitz-neal.jpg')
            dl
              dt.person-name Neal Koblitz
               dd.person-title Advisor
            p.person-description
            ul.list-inline
              li
                a(href='//en.wikipedia.org/wiki/Neal_Koblitz',title='Wikipedia')
                  i.zocial.icon.wikipedia
        li
          div.contact-card
            div.person-photo
              img(src='images/who/merkle-ralph.jpg')
            dl
              dt.person-name Ralph Merkle
               dd.person-title Advisor
            p.person-description
            ul.list-inline
              li
                a(href='//en.wikipedia.org/wiki/Ralph_Merkle',title='Wikipedia')
                  i.zocial.icon.wikipedia
        li
          div.contact-card
            div.person-photo
              img(src='images/who/tual-stephan.jpg')
            dl
              dt.person-name Stephan Tual
               dd.person-title Communications
            p.person-description
            ul.list-inline
              li
                a(href='https://github.com/stephantual',title='GitHub')
                  i.fa.fa-github
              li
                a(href='https://twitter.com/stephantual',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='http://www.linkedin.com/in/stephantual/',title='LinkedIn')
                  i.fa.fa-linkedin
              li
                a(href='pgp/tual-stephan.txt',title='PGP key')
                  i.fa.fa-lock

        li
          div.contact-card
            div.person-photo
              img(src='images/who/gerring-taylor.jpg')
            dl
              dt.person-name Taylor Gerring
               dd.person-title Development
            p.person-description
            ul.list-inline
              li
                a(href='https://github.com/tgerring',title='GitHub')
                  i.fa.fa-github
              li
                a(href='https://twitter.com/TaylorGerring',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='http://www.linkedin.com/in/taylorgerring/',title='LinkedIn')
                  i.fa.fa-linkedin
              li
                a(href='pgp/gerring-taylor.txt',title='PGP key')
                  i.fa.fa-lock

        li
          div.contact-card
            div.person-photo
              img(src='images/who/wood-jeremy.jpg')
            dl
              dt.person-name Jeremy Wood
               dd.person-title Administrative
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/Jeremy_Wood_',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/u/0/109298141447013742547/photos/p/pub',title='Google Plus')
                  i.fa.fa-google-plus
              li
                a(href='pgp/wood-jeremy.txt',title='PGP key')
                  i.fa.fa-lock
        li
          div.contact-card
            div.person-photo
              img(src='images/who/patuzzo-lorenzo.jpg')
            dl
              dt.person-name Lorenzo Patuzzo
               dd.person-title Creative
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/lorenzopatuzzo',title='Twitter')
                  i.fa.fa-twitter

        li
          div.contact-card
            div.person-photo
              img(src='images/who/grønnebæk-mathias.jpg')
            dl
              dt.person-name Mathias Grønnebæk
               dd.person-title Development
            p.person-description
            ul.list-inline
              li
                a(href='https://www.facebook.com/Mathiasng',title='Facebook')
                  i.fa.fa-facebook
              li
                a(href='pgp/gronnebaek-mathias.txt',title='PGP key')
                  i.fa.fa-lock

        li
          div.contact-card
            div.person-photo
              img(src='images/who/taylor-ryan.jpg')
            dl
              dt.person-name Ryan Taylor
               dd.person-title Development
            p.person-description
        li
          div.contact-card
            div.person-photo
              img(src='images/who/fierro-nicolas.jpg')
            dl
              dt.person-name Nicolas Fierro
               dd.person-title Development
            p.person-description
            ul.list-inline
              li
                a(href='https://github.com/nickfierro',title='GitHub')
                  i.fa.fa-github
              li
                a(href='pgp/fierro-nicolas.txt',title='PGP key')
                  i.fa.fa-lock
              li
                a(href='https://www.linkedin.com/pub/nicolas-fierro/45/721/981/',title='LinkedIn')
                  i.fa.fa-linkedin
              li
                a(href='https://www.facebook.com/nicolas.fierro.52',title='Facebook')
                  i.fa.fa-facebook
              li
                a(href='https://twitter.com/NicolasFierro_',title='Twitter')
                  i.fa.fa-twitter
        li
          div.contact-card
            div.person-photo
              img(src='images/who/donofrio-anthony.jpg')
            dl
              dt.person-name Anthony D'Onofrio
               dd.person-title Creative
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/iamtexture')
                  i.fa.fa-twitter
              li
                a(href='http://facebook.com/peaceloverevolution')
                  i.fa.fa-facebook


        li
          div.contact-card
            div.person-photo
              img(src='images/who/hughes-tim.jpg')
            dl
              dt.person-name Tim Hughes
               dd.person-title Development
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/programmerTim', title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/106968279502531622218/about/p/pub', title='Google Plus')
                  i.fa.fa-google-plus

        li
          div.contact-card
            div.person-photo
              img(src='images/who/stott-richard.jpg')
            dl
              dt.person-name Richard Stott
               dd.person-title Creative
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/cablestudios', title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://www.facebook.com/pages/Cable-Studios/232188913484688', title='Facebook')
                  i.fa.fa-facebook

        li
          div.contact-card
            div.person-photo
              img(src='images/who/meikle-ian.jpg')
            dl
              dt.person-name Ian Meikle
               dd.person-title Creative
            p.person-description

        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/who/buchanan-aeron.jpg')
        //-     dl
        //-       dt.person-name Aeron Buchanan
        //-        dd.person-title Development
        //-     p.person-description
        li
          div.contact-card
            div.person-photo
              img(src='images/who/colby-jason.jpg')
            dl
              dt.person-name Jason Colby
               dd.person-title Administrative
            p.person-description
            ul.list-inline
              li
                a(href='pgp/colby-jason.txt',title='PGP key')
                  i.fa.fa-lock
        li
          div.contact-card
            div.person-photo
              img(src='images/who/sureanu-roxana.jpg')
            dl
              dt.person-name Roxana Sureanu
               dd.person-title Administrative
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/RoxanaSureanu',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/105350470885626333161/posts',title='Google Plus')
                  i.fa.fa-google-plus
              li
                a(href='https://www.facebook.com/roxana.sureanu',title='Facebook')
                  i.fa.fa-facebook
        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/profile-photo-generic.jpg')
        //-     dl
        //-       dt.person-name Marko Simovic
        //-        dd.person-title Development
        //-     p.person-description

        li
          div.contact-card
            div.person-photo
              img(src='images/who/hidskes-maran.jpg')
            dl
              dt.person-name Maran Hidskes
               dd.person-title Development
            p.person-description
            ul.list-inline
              li
                a(href='https://twitter.com/maranh',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='https://plus.google.com/+MaranHidskes',title='Google Plus')
                  i.fa.fa-google-plus
              li
                a(href='pgp/hidskes-maran.txt',title='PGP key')
                  i.fa.fa-lock

        li
          div.contact-card
            div.person-photo
              img(src='images/who/mohan-jonathan.jpg')
            dl
              dt.person-name Jonathan Mohan
               dd.person-title Communications
            p.person-description

        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/who/lu-bin.jpg')
        //-     dl
        //-       dt.person-name Bin Lu
        //-        dd.person-title Chinese Partner
        //-     p.person-description
        li
          div.contact-card
            div.person-photo
              img(src='images/who/chen-houwu.jpg')
            dl
              dt.person-name Houwu Chen
               dd.person-title Development/Partner
            p.person-description
            ul.list-inline
              li
                a(href='https://github.com/chenhouwu',title='GitHub')
                  i.fa.fa-github
              li
                a(href='https://twitter.com/chenhouwu',title='Twitter')
                  i.fa.fa-twitter
              li
                a(href='pgp/houwu-chen.txt',title='PGP key')
                  i.fa.fa-lock
        li
          div.contact-card
            div.person-photo
              img(src='images/who/nguyen-hai.jpg')
            dl
              dt.person-name Hai Nguyen
               dd.person-title Accounting
            p.person-description
        li
          div.contact-card
            div.person-photo
              img(src='images/who/wilding-ethan.jpg')
            dl
              dt.person-name Ethan Wilding
               dd.person-title Philosopher
            p.person-description





        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/profile-photo-generic.jpg')
        //-     dl
        //-       dt.person-name Muharem Hrnjadovic
        //-       //- dd.person-title Archaic Title
        //-     p.person-description

        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/profile-photo-generic.jpg')
        //-     dl
        //-       dt.person-name Alex Leverington
        //-       //- dd.person-title Archaic Title
        //-     p.person-description

        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/profile-photo-generic.jpg')
        //-     dl
        //-       dt.person-name Daniel Hams
        //-       //- dd.person-title Archaic Title
        //-     p.person-description

        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/profile-photo-generic.jpg')
        //-     dl
        //-       dt.person-name SharpCoiner
        //-       //- dd.person-title Archaic Title
        //-     p.person-description

        //- li
        //-   div.contact-card
        //-     div.person-photo
        //-       img(src='images/profile-photo-generic.jpg')
        //-     dl
        //-       dt.person-name Viktor
        //-       //- dd.person-title Archaic Title
        //-     p.person-description


