html
  head
    title Server Error
    style
      | body{background-image:url('images/500bkgnd.png?20140310130500');background-size:100%;font-family:'Courier New';opacity:0.6;}h1{color: #7b7b7b;}h2{color: #7b7b7b;margin-top:0;}h3{color:#454242}.logo{opacity: 0.5;top:0;bottom:0;left:0;right:0;margin:auto;text-align:center;margin-top:15% !important;margin-bottom:1% !important;}.main{height: 200px;top:0;bottom:0;left:0;right:0;margin:auto;text-align:center;}.loine{top:0;bottom:0;left:0;right:0;margin:auto;text-align:center;}p{color:#7b7b7b}img{max-width:100%;height:auto;}
  body
    .logo
      img(src='images/logo.png?20140310130500?20140310130500')
    .loine
      img(src='images/loine.png?20140310130500?20140310130500')
    .main
      h2 ethereum
      h3 500
      p Server Error
      p There is an issue we are currently working at. Please check back soon.


