html
  head
    title Page Not Found
    style
      body{background-image:url('/images/404bkgnd.png');background-size:100%;font-family:'Courier New';opacity:0.6;}h1{color: #7b7b7b;}h2{color: #7b7b7b;margin-top:0;font-family:PrintClearly;}h3{color:#454242}.logo{opacity: 0.5;top:0;bottom:0;left:0;right:0;margin:auto;text-align:center;margin-top:15% !important;margin-bottom:1% !important;}.main{height: 200px;top:0;bottom:0;left:0;right:0;margin:auto;text-align:center;}.loine{top:0;bottom:0;left:0;right:0;margin:auto;text-align:center;}.help{;top:0;bottom:0;left:0;right:0;margin:auto;text-align:center}.help a{text-decoration:none !important;color:#7b7b7b !important;}p{color:#7b7b7b}img{max-width:100%;height:auto;}
  body
    .logo
      img(src='/images/logo.png')
    .loine
      img(src='/images/loine.png')
    .main
      h2 ethereum
      h3 404
      p Not Found
      p The page you are looking for cannot be found.
    .help
      a(href="http://en.wikipedia.org/wiki/HTTP_404") What does this mean?

