extends layout/layout

block content
  header.container
    include includes/navbar

  div#feature.jumbotron.text-center
    include includes/feature
  div.squr
  div.maincontent

    div#interactive-content
      div#interactive.content-box
        include includes/interactive

    div#news-content
      div#news.container.content-box.text-center
        include includes/news

    div#what-content
      div#what.container.content-box
        include includes/what

    div#why-content
      div#why.container.content-box
        include includes/why

    div#philosophy-content
      div#philosophy.container.content-box
        include includes/philosophy

    div#how-content
      div#how.container.content-box
        include includes/how

    div#who-content
      div#who.container.content-box.text-center
        include includes/who

    div#join-content
      div#join.container.content-box.text-center
        include includes/join
