body {
  color: #333;
  font-family: RobotoLight;
}

h1, h2, h3, h4, h5, h6 {
  text-transform:lowercase;
  margin-bottom:1em;
  margin-top:1em;
}

a {
  color: #333;
  text-decoration: underline;
}

img {
  max-width:100%;
}

.content-box {
  padding-bottom:30px;
  padding-top:35px;
}

footer {
  padding-bottom: 1em;
  padding-top: 1em;
}


/*
  #maincontent > div {
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
  }
  */

.maincontent {
  position: relative;
  background-image:url('../images/bg-img.jpg');
  background-color: #f5f5f5;
  background-size:100%;
  background-repeat: no-repeat;
  z-index: 101;
}

#interactive, #presale-counters {
  padding-top:5px;
  padding-bottom:20px;
  margin-top:-87px;
}

#tagline {
  margin-top: 0px;
}


#news-slider-nav-ul > li > a {
  text-transform: lowercase;
  background-color:#ccc;
  min-width:8em;
}

#news-slider {
  margin-top: 20px;
}

.ls-wrapper .ls-nav .current {
  font-weight:bold;
  background-color:#c5c5c5 !important;
}

.ls-responsive .ls-nav-left a, .ls-responsive .ls-nav-right a {
  background-color: transparent;
  color: #9A9A9A;
}
.ls-responsive .ls-nav-right a:hover, .ls-responsive .ls-nav-right a:hover {
  background-color: transparent;
  color: #333;
}

.news-top-left {
  padding:0;
}

#mc-embedded-subscribe {
  padding:8px 10px;
  border-radius:0;
  margin-bottom:10px;
  background-color:#9d9d9d;
  border:1px solid #9d9d9d;
  color:white;
}

#mce-EMAIL {
  padding:8px 10px;
  border-radius:0;
  margin-bottom:10px;
  border:1px solid #9d9d9d;
  margin-right:2px;
  width: 17em;
}

.jumbotron {
  background: #f5f5f5 url('../images/poster.jpg') no-repeat center center fixed;
  margin:0;
  padding-bottom:45px;
  padding-top:15px;
  background-size:cover;
}

.logo-text {
  float: left;
  color:#787878;
  font-family:RobotoRegular;
}

.navigationwrap {
  float:left;
  width:100%;
  position:relative;
  z-index:100;
}

.navbar-default .navbar-nav>li>a {
  color:#333;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color:#777;
}

.navbar {
  border:none;
  margin-bottom:0;
}

.navbar-nav {
  color: #333;
  text-transform: lowercase;
  clear:left;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  left:50%;
  text-align:center;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  padding-bottom:100px;
  max-height: none;
  overflow-x: hidden;
}

.navbar-default {
  background-color:transparent;
  border-color:none;
  z-index:1000;
  background-image:none;
  border-radius:none;
  box-shadow:none;
}

.navbar-nav > li {
  display:block;
  float:left;
  list-style:none;
  margin:0;
  padding:0;
  position:relative;
  right:50%;
}

.navbar-nav > li > a {
  padding-bottom: 20px;
  padding-top: 20px;
  text-decoration: none;
}

.person-photo {
  width: 50%;
  height: auto;
  max-width: 50%;
  border-radius: 50%;
  border: 3px solid #ccc;
  margin: auto;
  overflow: hidden;
}

.person-photo img {
  -ms-transform: scale(1.10,1.10); /* IE 9 */
  -webkit-transform: scale(1.10,1.10); /* Chrome, Safari, Opera */
  transform: scale(1.10,1.10);
}
.contact-cord {
  overflow: auto;
}
.contact-card dl{
  margin-bottom: 5px
}
.contact-card.active img {
  border-color: #fff;
}
.panel-wrapper .list-inline > li{
  margin-bottom: 10px
}

.alert-info {
  background-image: none;
  border-color: #a0aef0;
  background-color: #fff;
  border-radius: 0;
}


.hr {
  border-bottom: 1px solid #494949;
}

.list-inline > li {
  padding-left:1px;
  display: inline-block !important;
  vertical-align: top !important;
}

#profile .person-description {
  display: none;
}

#feature {
  position: relative;
  overflow: hidden;
  height:375px;
  padding:0;
  top:-60px;
  margin-top:-100px;
}

#feature .video-content {
  position: absolute;
  top: 50%;
  left: 0;
  right:0;
  margin-top: -125px;
  margin-left:auto;
  margin-right:auto;
}

#interactive-content, #presale-counters-content {
  background-color:#fff;
}


.interactive-middle {
  padding:30px 0 !important;
}

#news-content {
  background-color:transparent;
}

#what-content {
  background-color:#fff;
  background-image:url('../images/slice.png');
}

#why-content {
  background-color:transparent;
}

#philosophy-content {
  background-color:#fff;
}

#how-content {
  background-color:transparent;
}

#who-content {
  background-color:transparent;
}

#who > ul {
  width: 1000px;
  height: 15em;
  overflow: auto;
  overflow-y: hidden;
  margin: 0 auto;
  white-space: nowrap;
}


#join-content {
  background-color:transparent;
}

.news-top-right {
  padding-top:15px;
}

.mailchimp {
  padding-top:10px;
}

.ethereum-logo {
  font-family: PrintClearly;
  letter-spacing:0.15em;
  /*font-family:RobotoLight;*/
  /*letter-spacing:0.35em;*/
  color:#333;
  font-size: 35px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.dl-box {
  padding-top: 40px;
}

.dl-row {
  padding-top:10px;
  padding-left:0;
  padding-right:0;
}

.dl-row1, .dl-row2, .dl-row3, .dl-row4 {
  padding-bottom:30px;
}

.dl-icons {
  background-color:#fff;
  width: 52px;
  height: 52px;
  padding:12px;
  text-align: center;
  border-radius:50%;
}

.dl-imgs {
  display: inline-block;
  background-color:#fff;
  width: 52px;
  height: 52px;
  text-align: center;
  border-radius:50%;
}

.dl-imgs img {
  width: 52px;
  height: 52px;
}

.news-icon {
  padding-right:5px;
}

.news-icon-last {
  padding-right:0px !important;
}

.countdown_amount {
  border: 1px solid black;
  border-radius: 100%;
  margin: 10px;
  padding: 1ex;
  width: 2em;
  height: 2em;
}

.countdown_section {
  display: inline-table;
  margin: 10px;
}

#countdown {
  padding-top: 1em;
  padding-bottom: 1em;
}

.whatsample {
  font-size: 110%;
  line-height: 125%;
  color: #999;
  border-radius: 0;
  background-color: transparent;
  border: none;
}

.timer-wrap-all{
  display: inherit;
}

.timer-wrap {
  display: inline-block;
  border: none;
  position: relative;
}

.timer-unit {
  border: 1px solid #333;
  font-size: 250%;
  border-radius: 50%;
  padding: 1ex;
  margin-left: 1ex;
  margin-right: 1ex;
  font-family:RobotoThin !important;
  display: inline-block;
  position: relative;
}

.timer-unit-desc {
  position: relative;
  margin-top: 1em;
  font-size: 125%;
}

.timer-unit-sep {
  font-size:250%;
  display: none;
}

.squr {
  position: relative;
  width: 0;
  height: 0;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 55px solid white;
  margin-left:auto;
  margin-right:auto;
  margin-top:-6em;
  margin-bottom:4em;
  z-index:100;
}

#content-circle {
  width: 250px;
  height: 250px;
  border: 2px solid gray;
  border-radius: 50%;
  background-color: white;
  padding: 3em;
  margin-left: 5em;
  display: inline-block;
}

#code-slider pre {
  background-color: transparent;
  border: none;
  border-radius: 0;
}

#code-slider h4 {
 text-align: center;
  /*text-align: right;*/
}


#press-slider h4 {
 text-align: center;
}

/*.press-slider-panel {
  min-height: 178px;
}*/

.leftSliderArrow, .rightSliderArrow {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -34px;
}

.leftSliderArrow {
  left: -15px;
}

.rightSliderArrow {
  right: -15px;
}

.center-block {
  float: none !important;
}

#what .leftSliderArrow {
  left: -25px;
}

#what .rightSliderArrow {
  right: -25px;
}

.presslink {
  text-decoration: none;
}
.presslink:hover {
  text-decoration: none;
}

/*.pressdate {
  margin-bottom: 5px;
}*/

#presslist {
  list-style: none;
  list-style-type: none;
  padding-left: 21px;
}

#presslist li {
  margin-bottom: 20px;
}

#presslist a:hover{
  text-decoration: none;
}

/*.media-slider-wrapper {
  min-height: 203px;
}
*/
#media-slider h4 {
 text-align: center;
}

.fa-8x {
  font-size: 900%;
}

#how button.paging {
  border: none !important;
  background-image: none;
  background-color: transparent;
  top:100px;
  position:absolute;
}

#how button.paging:disabled{
  color: gray;
}

#content-circle > span {
  display:none;
}

#content-circle > span.active {
  display: inherit;
}

img[usemap] {
  border: medium none;
  height: auto;
  max-width: 100%;
  width: auto;
}

.panel {
  box-shadow:none;
  border-radius:0;
  background-color:transparent;
}

.philosophy-icons:hover {
  color:#fff;
}

.philosophy-icons:focus {
  color:#fff;
}

a:focus {
  color:#333;
}

a:hover {
  color:#333;
}

.philotext {
  font-size: 0.35em;
  margin-top: 5px;
  text-align: center;
  width: 8em;
}

.philobg > div > a {
  text-decoration: none;
}

.philotext:hover {
  color:#333;
}

.news-bottom {
  margin-bottom: 1em;
}

.nowrap {
  white-space: nowrap;
}

.button-previous {
  margin-left:-22em;
}

.philosophy-icons {
  background-color:#ccc;
  border-radius:50%;
  width:75px;
  height:75px;
}

.philosophy-icon1 {
  padding:18px 12px;
  font-size:185%;
}

.philosophy-icon2 {
  padding:11px 13px;
  font-size:200%;
  margin-top:1.6em;
}

.philosophy-icon3 {
  padding:11px 23px;
  font-size:200%;
  margin-top:0.6em;
}

.philosophy-icon4 {
  padding:12px 15px;
  font-size:200%;
  margin-top:2.2em;
}

.philosophy-icon5 {
  padding:8px 11px;
  font-size:193%;
}

#apps-examples {
  font-size: 150%;
}

#apps-examples .hr {
  padding: 2ex;
  max-width: 100%;
  width: 500px;
  margin:0 auto;
}

#apps-examples img {
  padding: 0 1ex 0 1ex;
  vertical-align: text-bottom;
}

#apps-examples li {
  background: url(../images/appicon.png) no-repeat;
  font-size: 50%;
  width: 60px;
  height: 80px;
  margin: 1ex;
}

#apps-examples ul > li > span {
  position: relative;
  top: 60px;
  display: block;
  height: 20px;
  max-height: 20px;
  min-height: 20px;
/*border: 1px solid blue;*/
}
#apps-examples .apps {
  margin-top: -1em;
}

#apps-examples > h4 {
  padding: 4em 0 0 0;
}

.dragapp {
  margin: 1px solid green;
  background: url(../images/appicon-drag.png) no-repeat;
}

.custom-app {
  background: url(../images/custom-app.png) no-repeat;
}

.html-css-js {
  background: url(../images/html-css-js.png) no-repeat;
}

.huge {
  font-size: 300%;
}

.inline-block {
  display: inline-block
}

/* Pill style */
#scrollUp {
  bottom: 20px;
  right: 20px;
  background: #555;
  color: #fff;
  font-size: 12px;
  font-family: sans-serif;
  text-decoration: none;
  opacity: .8;
  outline: none;
  border-width: 0;
  padding: 10px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 0px;
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  transition: background 200ms linear;
  -webkit-backface-visibility: hidden;
}

#scrollUp:hover {
  background: #000;
}

.media1 {
  margin-bottom: 0px;
}

.padbottom {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .timer-unit {
    border: 1px solid #333;
    font-size: 150%;
    border-radius: 50%;
    padding: 1ex;
    margin-left: 1ex;
    margin-right: 1ex;
    font-family:RobotoThin !important;
    display: inline-block;
    position: relative;
  }

  .timer-unit-desc {
    position: relative;
    margin-top: 1ex;
    font-size: 100%;
  }

  .fa-8x {
    font-size:500%;
  }

  #content-circle {
    width:150px;
    height:150px;
    padding:1.2em;
    margin:0;
    margin-bottom:1em;
  }

  #how button.paging {
    top:55px;
  }

  button.paging prev {
    margin-left:-65px;
  }
  .button-previous {
    margin-left:-20em;
  }
  .navbar-nav > li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
    clear:both;
  }
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-bottom:150px;
    max-height: none;
    overflow-x: hidden;
  }
}

#sale-counters-container{
  padding-top: 50px;
}

#presale-counters a{
  text-decoration: none;
  cursor: pointer;
}

#presale-counters h4{
  margin:0;
}

#presale-counters p.subheader{
  font-weight: bold;
  margin: 5px 0 10px;
}

.countdown-dials .dial-container{
  display: inline-block;
  width: 60px;
  height: 65px;
  overflow: hidden;
  font-size: 22px;
  position: relative;
}
.countdown-dials .dial-label{
  position: absolute;
  left:0;
  top: 45px;
  width: 60px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: #777;
}

#counters-primary .counter-header, #counters-primary .counter-subheader,
#counters-secondary .counter-header, #counters-secondary .counter-subheader{
  display: block;
}
#counters-primary .headers{
  padding: 13px;
}

#counters-primary h4 {
  text-transform:none;
  font-weight:bold;
  font-size: 16px;
  margin-bottom: 25px;
}


.countdown-dials .dial-shim {
  position:absolute;
  top:23px;
  left: -50%;
  margin-left: 44px;
}
.countdown-dials .delimiter{
  font-size: 20px;
  line-height: 40px;
  vertical-align: top;
}

#total-sold-container .total{
  font-size: 40px;
  font-family: "RobotoLight";
}

#total-sold-container .total-currency-label{
  font-size: 22px;
}

#total-sold-container .amount{
  font-size: 22px;
}

#total-sold-container .amount-currency-label{
  font-size: 16px;
}
#total-sold-container a{
  font-size: 12px;
  display: block;
}
#total-sold-container h4.subheadline, #ethersale-charts h4{
  margin-bottom: 0;
  line-height: 30px;
}

.infoText {
  font-size: 10px;
  letter-spacing: 0;
}

#ethersale-charts {
  padding-top: 50px;
  min-height: 397px;
}
#ethersale-charts h4 {
  text-transform: none;
  font-size: 16px;
  font-weight: bold;
}

.btn-buy-ether, .fancy-black-btn{
  background-color: #333;
  padding: 5px;
  width: 150px;
  display: inline-block;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.btn-buy-ether:hover, .fancy-black-btn:hover{
  color: #ccc;
}
.btn-buy-ether.disabled {
  background-color: #666;
  color: #ccc;
}
#ethersale-app{
  position: relative;
  border: 0;
}
#ethersale-app h3{
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 7px;
}

#ethersale-app .step-breadcrumbs{
  margin-bottom: 10px;
}

#ethersale-app .step-breadcrumbs span{
  padding: 0 3px;
  color: #aaa;
}

#ethersale-app .step-breadcrumbs[data-step="1"] .step1, #ethersale-app .step-breadcrumbs[data-step="2"] .step2, #ethersale-app .step-breadcrumbs[data-step="3"] .step3{
  color: #000;
}

#entropy-progress{
  /*position: absolute;*/
  width: 100%;
}

#entropy-progress .bar{
  background-color: #777;
  height: 3px;
}

#purchase-cancel{
  margin-top: 25px;
  text-align: right;
  display: block;
}

.step1-content p {
  margin-bottom: 5px;
}

#app-steps-content .currency-code{
  font-size: 0.8em;
}

#app-steps-content section{
  margin-bottom: 20px;
}
#app-steps-content .amount-box{
  padding: 3px;
  background-color: #ccc;
  border: 1px solid #aaa;
  font-size: 22px;
  width: 100%;
  text-align: center;
}
#app-steps-content .exchange-delimiter{
  margin-top: 30px;
  display: block;
  font-size: 20px;
}

#app-steps-content .copy{
  text-align: justify;
}

#app-steps-content h4{
  text-transform: none;
  margin-bottom: 30px;
}

#app-steps-content p.important{
  font-size: 20px;
}

#app-steps-content label{
  text-align: left;
  display: block;
}

#app-steps-content .label-container{
  height: 25px;
}

#app-steps-content label.error{
  font-size: 12px;
  line-height: 20px;
  color: #f00;
}

#app-steps-content label.mini{
  font-size: 12px;
}

#app-steps-content input{
  background-color: #ccc;
  border: 1px solid #aaa;
  border-radius: 0;
}

#app-steps-content i.fa{
  /*vertical-align: middle;*/
}

#strength{
  padding-left: 15px;
}
#strength li{
  display: inline-block;
  width: 20px;
  height: 5px;
  margin-right: 3px;
}

.step1-content .fix-height{
  height: 340px;
}

#qr-deposit-address{
  height: 175px;
  margin: auto 15px;
}

.step2-content .payment-address{
  font-size: 16px;
  text-align: center;
  display: block;
}

#app-steps-content #confirmations-container, #app-steps-content #email-confirmations-container{
  height: 115px;
  width: 90px;
  margin: 0 auto;
  position: relative;
}

.confirmations-dial-shim{
  position: absolute;
  left: 21px;
  top: 3px;
  background-color: #fff;
  font-size: 30px;
  height: 45px;
  margin-top: 20px;
}

#print-purchase-page{
  position: absolute;
  font-weight: bold;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

#downloadLink, #back-to-start{
  display: block;
  background-color: #555;
  color: #fff;
  padding: 10px 30px;
  margin: auto 40px;
}

#recommendations{
  text-align: left;
}

#password-checks{
  margin: 0;
  text-align:left;
  padding: 0;
}

#password-checks li{
  list-style-type:none;
  display:inline-block;
  margin-right: 5px;
  color: red;
  font-size: 9px;
}

#password-checks li i{
  line-height: 12px;
}

#password-checks li.active{
  color: green;
}

.btc-transaction-id{
  font-size: 11px;
}

@media (min-width: 1200px){
  #ethersale-app .container{
    width: 970px;
  }
}

#terms-text-container, #purchase-text-container{
  background-color: #eee;
  margin: 20px 30px 0 0;
  border-radius: 5px;
  padding: 20px;
  box-shadow: inset 0 0 10px #999;
  overflow: auto;
  text-align: justify;
}
#terms-text-container h1, #purchase-text-container h1 {
  margin: 0px;
  margin-top: 10px;
}
#terms-text-container h5, #purchase-text-container h5 {
  margin-top: 10px;
  margin-bottom: 50px;
}
#terms-text-container p, #purchase-text-container p {
  margin-top: 25px;
  line-height: 25px;
}
#docs-container{
  background-color: #eee;
  margin: 20px 30px 10px 0;
  border-radius: 5px;
  padding: 4px;
  box-shadow: inset 0 0 10px #999;
  overflow: hidden;
}

#terms-modal .got-it, #purchase-modal .got-it{
  padding: 10px;
  text-align: center;
}
#terms-modal .got-it p{
  margin: 5px;
}
#terms-modal .got-it label{
  padding-left: 5px;
}

#terms-modal .close-modal, #docs-modal .close-modal, #purchase-modal .close-modal{
  position: absolute;
  right: 12px;
  top: 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: block;
  height: 20px;
  line-height: 18px;
  width: 20px;
  text-align: center;
  transition: border-color ease-in-out 0.3s;
}

#terms-modal a, #docs-modal a, #purchase-modal a{
  cursor: pointer;
  text-decoration: none;
}
#terms-modal h1, #terms-modal h2, #terms-modal h3, #docs-modal h1, #docs-modal h2, #docs-modal h3, #purchase-modal h1, #purchase-modal h2 , #purchase-modal h3{
  text-transform: none;
}

#terms-modal h1, #docs-modal h1, #purchase-modal h1{
  font-size: 26px;
}

#terms-modal h2, #docs-modal h2, #purchase-modal h2{
  font-size: 18px;
  font-weight: bold;
}

#terms-modal .close-modal:hover, #docs-modal .close-modal:hover, #purchase-modal .close-modal:hover{
  border-color: #333;
}

#terms-modal .logo, #docs-modal .logo, #purchase-modal .logo{
  text-align: center;
  margin: 20px 0 0 17px;
}

#terms-modal .logo h3, #docs-modal .logo h3, #purchase-modal .logo h3{
  font-size: 18px;
}

@media (min-width: 768px) {
  #feature {
    max-height: 1200px;
  }
}

.nano { background: none; }
.nano .nano-content { padding: 10px; }
.nano .nano-pane   { background: none; }
.nano .nano-slider { background: none; }

/** initial setup **/
.nano {
  position : relative;
  width    : 100%;
  height   : 387px;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .nano-pane {
  background : rgba(0,0,0,.25);
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : .01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 5px;
  -webkit-border-radius : 5px;
  border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0,0,0,.5);
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

#terms-modal .controls, #purchase-modal .controls{
  font-size: 12px;
  overflow: hidden;
  color: #777;
  position: absolute;
  left: 25px;
  bottom: 20px;
  width: 120px;
}

#docs-modal .controls {
  font-size: 12px;
  color: #777;
}

#terms-modal .controls i, #docs-modal .controls i, #purchase-modal .controls i{
  margin-right: 2px;
}

#terms-modal .disabled, #purchase-modal .disabled{
  color: #aaa;
}

.label-container.email{
  text-align: left;
}

#app-steps-content .label-container.email label{
  display: inline;
}

.label-container.email span{
  color: red;
  padding-right: 10px;
  font-size: 10px;
}

.label-container.email span.active{
  color: green;
}


/* animated CSS loader */

.loaderHolder {
  margin-bottom: 50px !important;
}

.loader {
  margin: 5em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #333333;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 12em;
  height: 12em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.x.axis, .y.axis {
  font-size: 10px;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

#fundsChart {
  margin: 20px 0px;
}

.video-big {
  width: 700px;
  height: 411px;
}

.video-small {
  width: 334px;
  height: 188px;
  margin-bottom: 20px;
}

.video-big iframe, .video-small iframe {
  width: 100%;
  height: 100%;
}

.danger {
  color: red;
}

.smaller {
  font-size: 12px;
  line-height: 1.5;
}

input.ng-valid {
  border-color: green !important;
}

input.ng-invalid, input.ng-invalid-match, input.ng-invalid-required, input.invalidPassword {
  border-color: red !important;
}

#start-ether-purchase {
  margin-top: 15px !important;
  font-family: "RobotoThin";
  font-size: 20px !important;
  letter-spacing: 1px;
}

.no-bottom-margin {
  margin-bottom: 0px !important;
}

.add-top-margin {
  margin-top: 10px !important;
}
.add-bottom-margin {
  margin-top: 10px;
  margin-bottom: 50px !important;
}

@media (max-width: 990px){
  .modal-lg {
    width: inherit !important;
  }
  .inner {
    margin-top: 15px;
    margin-bottom: 35px;
  }
}

@media (max-width: 767px){
  #app-steps-content .exchange-delimiter {
    margin-top: 5px !important;
  }
}

@media (max-width: 769px){
  nav.navbar {
    min-height: 120px;
  }
}

@media (min-width:769px){
  .navbar-collapse.collapse{
    overflow:hidden !important;
  }
}

@media (min-width: 769px) and (max-width: 900px){
  .nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.explanations {
  margin-top: 30px;
  border-top: 1px solid #ccc;
}

.explanations a {
  text-decoration: underline !important;
}

#remember-password-modal h4, #verify-password-modal h4 {
  text-transform: none !important;
  margin-bottom: 0px;
  margin-top: 0px;
}

#remember-password-modal p, #verify-password-modal p {
  margin: 0px;
}

#remember-password-modal .modal-footer, #verify-password-modal .modal-footer {
  margin-top: 0px;
}

.dropdown-menu{
  min-width:111px;
  min-height:90px;
}

.step3-content {
  min-height: 490px;
}

.show-after-end {
  display: none;
}

.step-2-1-content, #step42 {
  min-height: 300px;
}

#docs-container iframe {
  border: none;
  width: 100%;
  height: 100%;
}

.explanations a.check-balance-button {
  text-decoration: none !important;
}

a.open-redeem-modal {
  text-decoration: none !important;
}

.redeem_funds {
  padding-top: 20px;
}

#redeem-lost-funds-modal b, #redeem-lost-funds-modal strong {
  font-family: 'RobotoRegular';
  font-weight: normal;
}

#redeem-lost-funds-modal i {
  margin-right: 10px;
}

#redeem-lost-funds-modal .upload-results {
  padding-bottom: 20px;
}

#redeem-lost-funds-modal label {
  font-weight: normal;
}