title ethereum
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel="icon",type='image/png',href="images/favicon.png?20140310130500")
link(rel="shortcut icon",type='image/x-icon',href="favicon.ico?20140310130500")
| <!-- inject:css -->
| <!-- endinject -->
