title ethereum
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel="icon",type='image/png',href="images/favicon.png?20140310130500")
link(rel="shortcut icon",type='image/x-icon',href="favicon.ico?20140310130500")
//- link(rel="stylesheet", href="styles/bootstrap.min.css")
//- link(rel="stylesheet", href="styles/bootstrap-theme.min.css")
//- link(rel="stylesheet", href="styles/font-awesome.min.css")
//- link(rel="stylesheet", href="styles/liquid-slider.css")
//- link(rel="stylesheet", href="styles/animate.css")
//- link(rel="stylesheet", href="styles/roboto.css")
//- link(rel="stylesheet", href="styles/zocial.css")
//- link(rel="stylesheet", href="styles/meetupmap.css")
//- link(rel="stylesheet", href="styles/printclearly.css")
//- link(rel="stylesheet", href="styles/style.css")
//- link(rel="stylesheet", href="styles/app.min.css")
// inject:css 
// endinject 
