#docs-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content.row
      .col-sm-12.col-xs-12
        a.close-modal &#215;
        #docs-container
        p.controls
          a.download.pull-left(href="#", target="_blank", download="#")
            i.fa.fa-download
            | Download
        p &nbsp;