#terms-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content.row
      .controls
        a.download.pull-left(href="pdf/Ether-Product-Purchase-Agreement.pdf", target="_blank", download="Ether-Product-Purchase-Agreement.pdf")
          i.fa.fa-download
          | Download
        a.print.pull-right
          i.fa.fa-print
          | Print
      .col-sm-2.hidden-xs
        .logo
          img(src="images/ethereum-logo-2.png", width="70px")
          .ethereum-logo
            h4 ethereum
      .col-sm-10.col-xs-12
        a.close-modal &#215;
        #terms-text-container
          h1.text-left Ether Product Purchase Agreement
          h5 ethereum.org

          p Purchaser certifies that purchaser is acquiring ether for use of distributed application services or purchase of tokens specific to forthcoming distributed applications on the Ethereum network, or to facilitate development, testing, deployment and operation of distributed applications on the Ethereum network, or to support the development of the Ethereum platform.  Purchaser certifies that purchaser is not exchanging bitcoin for ether for the purpose of speculative investment.

          p Purchaser recognizes that the Ethereum software platform on which purchaser will utilize the purchased ether is presently a work in progress and maybe undergo significant changes before release.

          p While the Ethereum team will make every effort to complete the Ethereum software, it is possible that an official completed version may never been released and there may never be an operational Ethereum main network.  It is also possible that if the software is completed and released and the main network is operational, that very little activity will ensue on the network and the network and the project could potentially be abandoned for lack of interest. In all of these circumstances and any others, no refunds of the purchase price will be issued under any circumstances.

          p Purchaser understands that there is no warranty on ether, express or implied.  Ether is purchased on an “as is” basis.

          p Purchaser certifies that purchaser has experience in the usage of one or more cryptographic currencies and is responsible for learning how to properly use ether before claiming the purchased product from the genesis block.

          p Purchaser understands that the Ethereum main network may be operational for a short or extended period of time, and may subsequently be abandoned by the miners and developers of the software.

          p Purchaser understands that there is no assurance that, if the Ethereum platform is launched, the platform software will be stable, or that the Ethereum ecosystem will be robust.

          p Purchaser recognizes that the Ethereum peer network of miners is ultimately in control of the operational system.  Purchaser understands that a majority of these miners could agree at any point to make changes to the Ethereum software and to run the new version of the software on the network.
        .got-it
          p I have read and fully understand the Terms and Conditions of the Ethereum Ether Sale
          label(for="confirm-terms").disabled
            input#confirm-terms(type="checkbox", name="confirm-terms", disabled="true")
            span &nbsp; Agree <small class="infoText">(scroll to the end of the terms to enable button)</small>
