#purchase-modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content.row
      .controls
        a.download.pull-left(href="pdfs/EtherProductPurchaseAgreement.pdf", target="_blank", download="EtherProductPurchaseAgreement.pdf")
          i.fa.fa-download
          | Download
        a.print.pull-right
          i.fa.fa-print
          | Print
      .col-sm-2.hidden-xs
        .logo
          img(src="images/ethereum-logo-2.png", width="70px")
          .ethereum-logo
            h4 ethereum
      .col-sm-10.col-xs-12
        a.close-modal &#215;
        #purchase-text-container
          h1.text-left Ether Product Purchase Agreement
          h5 ethereum.org

          p By purchasing Ether (ETH), the Purchaser expressly agrees to all of the terms and conditions set forth in the accompanying Terms and Conditions of the Ethereum Genesis Sale (the "Terms"),  which is incorporated by reference herein, as well as the Ether Product Purchase Agreement.  All capitalized terms in this agreement will be given the same effect and meaning as in the Terms.

          p By purchasing ETH, the Purchaser:
            ul
              li represents and warrants that the Purchaser has an understanding of the usage and intricacies of cryptographic tokens, like bitcoin (BTC),  and blockchain-based software systems.
              li represents and warrants that the Purchaser is legally permitted to purchase ETH in the Purchaser’s jurisdiction and is legally permitted to receive products of Swiss origin;
              li represents and warrants that the Purchaser is of a sufficient age to legally purchase ETH or has received permission from a legal guardian who has reviewed and agreed to these Terms;
              li represents and warrants that the the Purchaser will take sole responsibility for any restrictions and risks associated with the purchase of ETH as set forth below;
              li represents and warrants that Purchaser is not exchanging bitcoin (BTC) for ETH for the purpose of speculative investment; and
              li represents and warrants that the Purchaser is acquiring ETH for the use of decentralized application services or the purchase of tokens specific to forthcoming decentralized applications on the Ethereum Platform, or to facilitate development, testing, deployment and operation of decentralized applications on the Ethereum Platform, or to support the development of the Ethereum Platform.

          p Purchaser understands that there is no warranty whatsoever on ETH, express or implied, to the extent permitted by law, and that ETH is purchased on an "as is" basis.  Purchaser also understands that EthSuisse will not provide any refund of the purchase price for ETH  under any circumstance.

          p Purchaser further agrees to accept sole risk for the purchase of ETH.  The Purchaser recognizes that the Ethereum Platform is presently being developed and may undergo significant changes before release.

          p In order to reduce the possibility of fraud, phishing attempts and other schemes perpretrated by malicious thrid parties, Purchaser agrees not to respond directly to any inquiry regarding their purchase of ETH, including but not limited to email requests purportedly coming from the ethereum.org or similar looking domain.  Purchaser understands that Ethereum may send Purchaser emails from time-to-time, but these email notices will never ask for information or require any direct email response from the Purchaser.

          p Purchaser understands, that while the Ethereum Team will make reasonable efforts to complete the Ethereum software, it is possible that an official completed version of the Ethereum Platform may not be released and there may never be an operational Ethereum Platform.  It is also possible that even if the Ethereum Team releases a completed version of the Ethereum Platform, due to a lack of public interest in decentralized applications or the Ethereum Platform itself, the Ethereum Platform could potentially be abandoned or shut down for lack of interest. Purchaser further recognizes that ETH may experience extreme volatility in pricing.

          p Purchaser also recognizes that the Ethereum Platform may be operational for a short or extended period of time, and may subsequently be abandoned by EthSuisse for a number of reasons, including a lack of interest from the public, a lack of funding, competing platforms that seek to develop decentralized applications, and competing non-affiliated Ethereum networks built on the same underlying protocol and open source technology.

          p Following the purchase of ETH, Purchaser understands that if the Purchaser’s wallet file or password is lost or stolen, the purchased ETH associated with the Purchaser’s wallet or password will be unrecoverable and will be permanently lost.  Furthermore, Purchaser understands that there is no password recovery mechanism for lost passwords, so the Ethereum Team will not be able to help Purchaser retrieve or reconstruct a lost password and provide the Purchaser with access to any purchased ETH. Furthermore, Purchaser understands that it is not possible to reconstruct a lost or stolen wallet, so the Ethereum Team will not be able to help Purchaser retrieve or reconstruct a lost or stolen wallet and provide the Purchaser with access to any purchased ETH.

          p Purchaser understands that between the time of purchase of ETH in the Genesis Sale and the inception of the Ethereum Platform system with the creation of the Genesis Block, ETH will be unusable and not liquid.

          p Purchaser understands that there is no assurance that, if the Ethereum platform is launched, the platform software will be stable, or that the Ethereum ecosystem will be robust.

          p Purchaser understands that the Ethereum Platform software developed may give rise to other, alternative, Ethereum-based or Ethereum-like networks, promoted by unaffiliated third parties, under which Purchaser’s ETH will have no intrinsic value.

          p Purchaser recognizes that the Ethereum peer network of miners will be ultimately in control of the operational system.  Purchaser understands that a majority of these miners could agree at any point to make changes to the official Ethereum Platform software and to run the new version of the software on the network.  Under such a scenario, Purchaser’s ETH will likely have no intrinsic value.

          p THE PURCHASER ACKNOWLEDGES AND AGREES THAT, TO THE FULLEST EXTENT PERMITTED BY ANY APPLICABLE LAW, THE PURCHASER WILL NOT HOLD ANY OF THE ETHSUISSE PARTIES LIABLE FOR ANY AND ALL DAMAGES OR INJURY WHATSOEVER CAUSED BY OR RELATED TO USE OF, OR INABILITY TO USE, ETH OR THE ETHEREUM PLATFORM UNDER ANY CAUSE OR ACTION WHATSOEVER OF ANY KIND IN ANY JURISDICTION, INCLUDING, WITHOUT LIMITATION, ACTIONS FOR BREACH OF WARRANTY, BREACH OF CONTRACT OR TORT (INCLUDING NEGLIGENCE) AND THAT NONE OF THE ETHSUISSE PARTIES SHALL BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES, INCLUDING FOR LOSS OF PROFITS, GOODWILL OR DATA, IN ANY WAY WHATSOEVER ARISING OUT OF THE USE OF, OR INABILITY TO USE, OR PURCHASE OF, OR INABILITY TO PURCHASE, ETH.

          p THE PURCHASER FURTHER SPECIFICALLY ACKNOWLEDGES THAT ETHSUISSE PARTIES ARE NOT LIABLE, AND THE PURCHASER AGREES NOT TO SEEK TO HOLD ANY OF THE ETHSUISSE PARTIES LIABLE, FOR THE CONDUCT OF THIRD PARTIES, INCLUDING OTHER PURCHASERS OF ETH, AND THAT THE RISK OF PURCHASING AND USING ETH RESTS  ENTIRELY WITH THE PURCHASER .

          p TO THE EXTENT PERMISSIBLE UNDER APPLICABLE LAWS, UNDER NO CIRCUMSTANCES WILL ANY OF THE ETHSUISSE PARTIES BE LIABLE TO ANY PURCHASER FOR MORE THAN THE AMOUNT THE PURCHASER HAS PAID TO ETHSUISSE FOR THE PURCHASE OF ETH.

          p The Terms and the Ether Product Purchase Agreement govern the sale of ETH and supercede any public statements about the Genesis Sale made by third parties or by the Ethereum Team or individuals associated with any EthSuisse Parties, past, present and future.

          p EthSuisse reserves the right, at its discretion, to change, modify, add, or remove portions of the Ether Product Purchase Agreement, at any time. by posting the amended agreement on the Ethereum website (https://www.ethereum.org).  Any Purchaser will be deemed to have accepted such changes by purchasing ETH.
          p If at any point you do not agree to any portion of the then-current version of the Ether Product Purchase Agreement, you should not purchase ETH.

          p If a court or other tribunal determines that there is a conflict between the Ether Product Purchase Agreement and the Terms, the provisions of the Terms shall govern.

          p Date July 21, 2014
        .got-it
          p I have read and fully understand the Ether Product Purchase Agreement
          label(for="confirm-terms").disabled
            input#confirm-terms(type="checkbox", name="confirm-terms", disabled="true")
            span &nbsp; Agree <small class="infoText">(scroll to the end of the terms to enable button)</small>
