video(autoplay='', loop='', muted='', style='width:100%;')
  source(src='videos/videobg.mp4?20140310130500', type='video/mp4')
  source(src='videos/videobg.webm?20140310130500', type='video/webm')
.video-content
  img(height= '200', src='images/ethereum-logo.png?20140310130500')
  h2.ethereum-logo ethereum

