div.row.text-right
  div.col-sm-6.col-sm-offset-6.text-center
    h2 What can you make out of ether?


div#how-circle.row.text-center
  div.col-sm-6
    div.button-previous
      button.paging.prev(type='button')
        i.fa.fa-fw.fa-angle-left.fa-3x
    div#content-circle
     span.how-icon
        i.fa.fa-fw.fa-money.fa-8x
        p Create a Currency <br> and issue Shares
      span.how-icon
        i.fa.fa-fw.fa-briefcase.fa-8x
        p Contracts, Law and Escrow
      span.how-icon
        i.fa.fa-fw.fa-sitemap.fa-8x
        p Financial Instruments and Derivatives
      span.how-icon
        i.fa.fa-fw.fa-asterisk.fa-8x
        p Decentralized Organizations (DAOs)
      span.how-icon
        i.fa.fa-fw.fa-pencil-square-o.fa-8x
        p Decentralized Voting
      span.how-icon
        i.fa.fa-fw.fa-lock.fa-8x
        p Decentralized Data Storage
    button.paging.next(type='button')
      i.fa.fa-fw.fa-angle-right.fa-3x


  div#what-make.col-sm-6.text-right
    p Contracts are the main building blocks of Ethereum. A contract is a computer program that lives inside the distributed Ethereum network and has its own ether balance, memory and code. Every time you send a transaction to a contract, it executes its code, which can store data, send transactions and interact with other contracts.
    p Contracts are maintained by the network, without any central ownership or control. Contracts are written in languages instantly familiar to any programmer and powered by Ether, Ethereum's cryptofuel. You can find out more in our <a href="http://wiki.ethereum.org" target="_blank">wiki</a>.


div#apps-examples.row.text-center
  h4
    strong open source, one click app install.
  div.apps.row.hr
    //- span.dragapp
    ul.list-inline
      li
        span law
      li
        span cloud storage
      li
        span prediction markets
      li
        span trading
      li
        span decentralized hosting
      li
        span your own currency
    p &mdash; or &mdash;
    div.row.text-center.nowrap
      div.col-xs-6.inline-block
        img.img-responsive(src='images/custom-app.png?20140310130500',alt='make your own')
        span.clearfix make your own
      div.col-xs-6.inline-block
        img.img-responsive(src='images/html-css-js.png?20140310130500',alt='HTML5 CSS3 JS')
      //- span.sr-only law, cloud storage, prediction markets, trading, decentralized hosting, your own currency, make your own, html5, css3, js
  div.row.hr.reference-clients Mobile &amp; desktop reference clients.
  div.row.hr Turing complete contracts on a blockchain.
  div.languages
    img(src='images/cpp-logo.png?20140310130500', alt="C++")
    img(src='images/go-gopher.png?20140310130500', alt="Go")
    img(src='images/python-logo.png?20140310130500', alt="Python")
    span.huge &hellip;
  div.implementations flexible implementations.
