h2 ethereum meetups
  #meetupmap
:markdown
  Meet developers and entrepreneurs at one of our [meetups](https://forum.ethereum.org/discussion/797/list-of-ethereum-specific-meetups-live-updates)

  You can also find answers to your questions on our [forums](https://forum.ethereum.org), [wiki](http://wiki.ethereum.org), or [blog](https://blog.ethereum.org)

