div#presale-counters-slider.text-center
  div#sale-counters-container.container
    div#counters-primary.row
      h3.add-bottom-margin The ethereum ether sale has now concluded.
      div#total-sold-container.col-md-4.col-md-push-4
        div.inner
          h4.no-bottom-margin Estimated ether purchased:
          span.total
          span.total-currency-label &nbsp;ETH
      div.sale-duration-container.col-md-4.col-md-pull-4.col-sm-6.countdown-dials
        div.inner.fade-after-end
          h4 ether sale ends in:
          div.dial-container
            input(type="text", value="0").dial.days
            span.dial-label Days
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.hours
            span.dial-label Hours
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.minutes
            span.dial-label Minutes
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.seconds
            span.dial-label Seconds
      div.rate-countdown-container.col-md-4.col-sm-6.countdown-dials
        div.inner.fade-after-end
          h4 time remaining at current price:
          div.dial-container
            input(type="text", value="0").dial.days
            span.dial-label Days
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.hours

            span.dial-label Hours
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.minutes
            span.dial-label Minutes
          span.delimiter :
          div.dial-container
            input(type="text", value="0").dial.seconds
            span.dial-label Seconds
    include presaleexplanation