.container
  div.explanations
    div.row
      div.col-md-9.text-left
        h2 what is the ether sale?
        p Ether is a necessary element -- a fuel -- for operating the distributed application software platform we are building: ethereum. Without the requirement of payment of ether for every computational step and storage operation within the system, infinite loops or excessive storage demands could bog down ethereum and effectively destroy it.

        p People interested in acquiring ether to build and distribute decentralized applications, or to pay for their usage, are able to do so in the Genesis Sale using bitcoin, thereby locking-in their supply at a known price. This sale will help us fund the continued development of the software platform, scheduled for release in the winter of 2014/2015.

        p Once the initial batch of ether is created in the genesis block - the go-live date of the software platform - people who have purchased ether in the pre-sale will be able to claim their product using the wallet that they downloaded and the password that they created during the purchase.   If you buy ether DO NOT LOSE THE WALLET OR PASSWORD otherwise your ETHER WILL BE LOST.

        p Also, please note that before the release of the Genesis Block in the winter of 2014/2015, ether will not be usable in any way, in fact it won’t technically be created until that point in time.

        p Please do not attempt to purchase ether using iOS.  This process requires the download of a file, which is best done from a different kind of computer.

        div.balance-checker.row
          .col-xs-12
            p.important If you have already purchased ether, you can check your account balance by entering your address here:
          .col-xs-9
            input#ethaddressforbalance.form-control(type="text", name="ethaddress", placeholder="Enter your ether address")
          .col-xs-2
            a.btn-buy-ether.check-balance-button(href="#") Check balance
      div.col-md-3.text-right
        h2 resources
        p To learn more about ethereum:<br/>
          a(href="pdfs/EthereumWhitePaper.pdf", class="showDocs") Ethereum White Paper
        p For development specifications:<br/>
          a(href="pdfs/Ethereum-Dev-Plan-preview.pdf", class="showDocs") &#272;&#926;V PLAN
        p Ethereum Roadmap:<br/>
          a(href="pdfs/Ethereum-Roadmap.pdf", class="showDocs") Ethereum Roadmap
        p To learn more about our plans:<br/>
          a(href="pdfs/IntendedUseOfRevenue.pdf", class="showDocs") Intended Use of Revenue
        p Terms of ether sale:<br/>
          a(href="pdfs/TermsAndConditionsOfTheEthereumGenesisSale-preview.pdf", class="showDocs") Terms and Conditions of the<br/>Ethereum Genesis Sale
        p Ether Product Purchase Agreement:<br/>
          a(href="pdfs/EtherProductPurchaseAgreement.pdf", class="showDocs") Ether Product Purchase Agreement
