.container
  div.explanations
    div.row
      div.col-md-9.text-left
        h2 what is the ether sale?
        p Ether is a necessary element -- a fuel -- for operating the software platform we are building: ethereum. Without the requirement of payment of ether for every computational step and storage operation within the system, infinite loops or excessive storage demands could bog down ethereum and effectively destroy it.
        p People interested in acquiring ether to build and distribute decentralized applications, or to pay for their usage,  are able to do so in the pre-sale using  bitcoin, therefore locking-in their supply at a known price. This sale will help us fund the continued development of the software platform, scheduled for release towards the end of Q4 2014.
        p Once the initial batch of ether is created in the genesis block - the go-live date of the software platform -  people who have purchased some in the pre-sale will be able to claim their product.
      div.col-md-3.text-right
        h2 resources
        p To learn more about ethereum:<br/>
          a(href="pdf/whitelabel.pdf", class="showDocs") ethereum Whitepaper
        p To learn more about our plans:<br/>
          a(href="pdf/whitelabel.pdf", class="showDocs") Development Plans
        p For development specifications:<br/>
          a(href="pdf/whitelabel.pdf", class="showDocs") ethereum Yellowpaper
        p Terms of ether sale:<br/>
          a(href="pdf/whitelabel.pdf", class="showDocs") Terms and Conditions