#press-slider.liquid-slider
  div
    .col-xs-4
      a(href='http://bitcoinmagazine.com/9867/ethereum-dapps-rise-new-internet/', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/bitcoinmag.png?20140310130500')
    .col-xs-4
      a(href='http://www.wired.com/wiredenterprise/2014/01/ethereum/?cid=co17648004', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/wired.png?20140310130500')
    .col-xs-4
      a(href='http://www.bloomberg.com/news/2014-03-28/bitcoin-2-0-shows-technology-evolving-beyond-use-as-money.html', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/bloom.png?20140310130500')
    .col-xs-4
      a(href='http://www.fastcolabs.com/3026271/could-this-20-year-old-kid-make-bitcoin-obsolete', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/fastcompany.png?20140310130500')
    .col-xs-4
      a(href='http://www.maxkeiser.com/2014/03/kr569-keiser-report-new-crypto-phenomenon-ethereum/', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/Kreport.png?20140310130500')
    .col-xs-4
      a(href='http://www.theepochtimes.com/n3/665367-bitcoin-2-0/', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/EpochTimes.png?20140310130500')

  div
    .col-xs-4
      a(href='http://www.world-bitcoin-forum.com/2014/04/01/gavin-wood/?utm_content=buffer280c8&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/WbitcoinFrm.png?20140310130500')
    .col-xs-4
      a(href='http://thenextweb.com/insider/2014/02/15/bitcoin-platform-currency/7/', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/thenextweb.png?20140310130500')
    .col-xs-4
      a(href='http://spelunk.in/2014/02/28/ethereum-taking-crypto-beyond-just-currency/', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/spl.png?20140310130500')
    .col-xs-4
      a(href='http://cryptonomics.org/2014/02/01/ethereum-turing-complete-programmable-money/', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/cn.png?20140310130500')
    .col-xs-4
      a(href='http://www.newscientist.com/article/mg22129553.700-bitcoin-how-its-core-technology-will-change-the-world.html#.U4xi-HV515S', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/newscientist.png?20140310130500')
    .col-xs-4
      a(href='http://america.aljazeera.com/articles/2014/4/7/code-your-own-utopiameetethereumbitcoinasmostambitioussuccessor.html', target='_blank')
        img(style="margin-bottom:20px",height='auto', src='images/pressimages/aljazeera.png?20140310130500')
