#remember-password-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header.danger
        button.close(type="button", data-dismiss="modal")
          span(aria-hidden="true") &times;
          span.sr-only Close
        h4 Don't forget your password!
      .modal-body
        p You will need this passphrase in order to access your wallet!
      .modal-footer
        button.btn.btn-danger(type="button", data-dismiss="modal") I understand