div.container.text-muted
  ul.list-inline
    li
      a(href='https://www.facebook.com/ethereumproject',title='Facebook')
        i.fa.fa-facebook.fa-fw
    li
      a(href='https://www.twitter.com/ethereumproject',title='Twitter')
        i.fa.fa-twitter.fa-fw
    li
      a(href='https://plus.google.com/+EthereumOrgOfficial/posts',title='Google Plus')
        i.fa.fa-google-plus.fa-fw
    //- li
    //-   a(href='#',title='LinkedIn')
    //-     i.fa.fa-linkedin.fa-fw
    li
      a(href='https://vimeo.com/ethereumproject',title='Vimeo')
        i.fa.fa-vimeo-square.fa-fw
    li
      a(href='https://www.youtube.com/user/ethereumproject',title='YouTube')
        i.fa.fa-youtube-play.fa-fw
    li
      a(href='mailto:info@ethereum.org',title='Email')
        i.fa.fa-envelope.fa-fw
    li
      a(href='pgp/ethereum-all.asc',title='Ethereum Project PGP keys')
        i.fa.fa-lock.fa-fw
