div.row
  div.col-sm-8.col-sm-offset-4
    h2 What
    :markdown
      Ethereum is a platform and a programming language that makes it possible for any developer to build and publish next-generation distributed applications.

      Ether, Ethereum's cryptofuel, powers its applications and acts as a 'token of exchange' on the decentralized network.

      Ethereum can be used to codify, decentralize, secure and trade just about anything: voting, domain names, financial exchanges, crowdfunding, company governance, contracts and agreements of most kind, intellectual property, and even smart property thanks to hardware integration.

      Ethereum borrows the concept of decentralized consensus that makes bitcoin so resilient, yet makes it trivial to build on its foundation. To find out more about how Ethereum works, consult the [white](https://github.com/ethereum/wiki/wiki/%5BEnglish%5D-White-Paper) and [yellow](http://gavwood.com/Paper.pdf) papers.
div.row
  div.col-sm-7.col-sm-offset-4
    h3 &hellip;will you build with Ethereum?
div.row
  div.col-sm-11.center-block
    include code
    a.leftSliderArrow(href='#left', data-liquidslider-ref='#code-slider')
      i.fa.fa-fw.fa-angle-left.fa-3x
    a.rightSliderArrow(href='#right', data-liquidslider-ref='#code-slider')
      i.fa.fa-fw.fa-angle-right.fa-3x
